<h3>Create a Tweet</h3>

<form method="post" action="/tweets" id="form">
  Content:   <br><textarea name="content" rows="10" cols="50"></textarea><br><br>
  <input type="submit" value="submit" id="submit">
</form>
