<% if Helpers.is_logged_in?(session) %>
<%= @error %>
  <form action='/tweets/new' method="post">
    Create a New Tweets
    <h2>New Tweet: <input type="text" name="content"></h2><br>
    Create Your Tweet:

    <input type="submit" name="submit" id="submit">

  </form>

  <% else %>
      <h1> You Must Be Logged in to Create Tweets </h1>
  <% end %>
