<% if is_logged_in? %>
<%= @error %>
  <form action='/tweets' method="post">
  
    <input type="text" name="content">

    <button type="submit">submit</button>
  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
  <% end %>
