<form action='/tweets' method="post">
  Content:
  <input type="text" name="content"><br>
  Create Your Tweet:
  <input type="submit" name="create_tweet" id="create_tweet">
  <input type="submit" name="submit">
</form>
