<!DOCTYPE html>
<html>
  <head> 
    <title> Fwitter Create Page </title>
  </head>
  <body>
    <form method="post" action="/tweets">
      
        <label for="content"> What's Happening?: </label>
        <input type="text" name="content" id="content">
        
        <br> 
        <input type="submit" value="Submit" id="submit">
      
    </form>
  </body>
</html>