<h1>Edit Tweet</h1>

<form method="POST" action="/tweets/<%= @tweet.id %>/edit">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="content" value="<%= @tweet.content %>">
  <input type="submit" value="Update Tweet" id="submit">
</form>