<h1>Edit Your Tweet<h1>

<form method="POST" action="/tweets/<%= @tweet.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">

   <label>Current Tweet: "<%= @tweet.content %>"</label>
	<textarea type="text" name="content"></textarea>

	<input type="submit" value="submit" id='submit'/>

</form>