<h1>Edit Tweet:</h1>

  <form action="/tweets/<%= @tweet.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Content: <input type="text" name="content" value="<%= @tweet.content %>"></label>
    <br><br>
    <input type="submit" value="submit">
  </form>
