 <h3>Edit Tweet</h3>

 <form action="/tweets/<%=@tweet.id%>" method="post">
   <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label for="content">Edit Tweet</label>
    <input type="text" name="content" id="content" value="<%=@tweet.content%>">
    <br>
    <input type="submit" id="submit">
 </form>
