<% if Helpers.is_logged_in?(session) %>
<%= @error %>
    <% if Helpers.current_user(session).id === @tweet.user_id%>
        <%= @error %>
        <form action="/tweets/<%= @tweet.id%>" method="post">
        <input id="hidden" type="hidden" name="_method" value="patch">
            Content:
            <input type="text" name="content" placeholder=<%= @tweet.content%>><br>
            Edit Your Tweet:

            <input type="submit" name="submit" id="submit">

        </form>
    <% else %>
        <h1> You can only edit your own tweets </h1>
    <% end %>

  <% else %>
      <h1> You Must Be Logged in to Edit Tweets </h1>
  <% end %>
