<h2>Edit Tweet</h2>
<form method="POST" action="/tweets/<%=@tweet.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <input type="text" name="content" id="content" value="<%=@tweet.content%>">

  <input type="submit" value="submit", name="Edit Tweet" id="Edit Tweet">
</form>
