<h1>Edit Your Tweet Below:</h1> 

  <form action='/tweets/<%= @tweet.id %>' method="post">
  <input type="hidden" id="hidden" name="_method" value="PATCH"> 
    Content:
    <input type="text" name="content" id="content" value="<%= @tweet.content %>"><br>
    Create Your Tweet:

    <input type="submit" name="submit" id="submit">
  </form>
