<form action='/tweets/<%= @tweet.id %>' method="post">
  <input type="hidden" name="_method" value="PATCH">
  Content:
  <input type="text" name="content" id="content" value="<%= @tweet.content %>
"><br>
  <button type="submit" id="submit">submit</button>
</form>
