<h2>Edit Tweet</h2>

<form action="/tweets/<%= @tweet.id %>" method="post">
    <input type="hidden" name="_method" value="PATCH">
    Content:
    <input type="text" name="content" value="<%= @tweet.content %>"><br>
    <br>
    <input type="submit" name="submit" id="submit">

  </form>
