<form method="post" action="/tweets/<%=@tweet.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p><input type="text" name="content" value="<%=@tweet.content%>"></p>
  <input type="submit" value="Edit Tweet" id="submit">
</form>
