<h1>Update Tweet</h1>

<h2>Edits for <%= @user.username %></h2>

<form action="/tweets/<%= @tweet.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
<label>Edit the Artists's Name:</label>
<input type="text" id="Content" name="content" value ="<%=@tweet.content%>">
<br>
<br>
<input type="submit" value="Edit Tweet">
</form>
