
<form action='/tweets/<%= @tweet.id %>/edit' method="post">
Edit Content:
<input type="text" name="content"><%= @tweet.content %></input><br>
Edit Your Tweet:

<input type="submit" name="submit" id="submit">


</form>
