<%= "Must include characters" if @tweet && @tweet.errors.any? %>

<h1>Edit Tweet</h1>

<form action="/tweets/<%= @tweet.id %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">

    <label for="content"><h3>What's On Your Mind?</h3></label>
    <textarea name="content" max-length="132" rows="8" cols="80" ><%= @tweet.content %></textarea><br>
    <br>
    <input type="submit" value="submit">

</form>