<form method="POST" action="/tweets/<%= @tweet.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Content:</label><br>
  <input type="text" name="content" id="content" value="<%= @tweet.content %>"><br><br>
  <input type="submit" value="submit">
</form>
