<% if Helpers.is_logged_in?(session) %>

  <%= @error %>
    <form action='/tweets/<%= @tweet.id %>' method="post">
	   	<input type="hidden" id="hidden" name="_method" value="PATCH"> 

      <h1>Edit your tweet, <%= Helpers.current_user(session).username %></h1>
      
      <p>Original tweet: <%= @tweet.content %></p>
      <p>New Content: <input type="text" name="content"></p>

      <input type="submit" name="submit">
    </form>

<% else %>
    <h1> You Must Be Logged in to Make Tweets </h1>
<% end %>
