
 <form action="/tweets/<%=@tweet.id%>" method="post">
<input type="hidden" name="_method" value="patch">
<p>Content:
    <input type="text" name="content" value="<%=@tweet.content%>"></p><br>
<input type="submit" name="submit" id="submit" value="Submit">
</form>