<h1>Edit Tweet</h1>
<form action="/tweets/<%= @tweet.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="PATCH">

  <label for="content">Content </label>
  <input type="text" name="content" id="content" value="<%=@tweet.content%>">

  <input type="submit" value="submit" id="Submit">
</form>
