<h1>Edit Tweet</h1>

  <form method="post" action="/tweets/<%= @tweet.id %>" >
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" value="<%=@tweet.content%>" name="content">
    <input class="btn btn-primary" name="submit" type="submit" value="submit">
  </form>
