<h1>Edit Tweet</h1>
<h3> <%= @tweet.content %> </h3>
<br>
<br>
<form action="/tweets/<%= @tweet.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="patch"/>
  <label>Edit Tweet:</label>
  <input type="text" id="content" name="content" value="<%= @tweet.content%>"/><br>
  <button type="submit" id="submit">Submit Edit</button>
</form>
