<h1>Edit Tweet:</h1>

  <form action="/tweets/<%= @tweet.id %>" method="post">

    <label>Content:</label>
    <input type="text" name="content" id="content" value="<%= @tweet.content %>"<br>

    <input type="submit" id="submit" name="submit" value="Edit Tweet">
  </form>
