<form method="POST" action="">
    <input id="hidden" type="hidden" name="_method" value="patch"/>
    <label>Current Conent:</label>
    <p>@tweet.content</p>

    <label>New Content:</label>
    <input type="text" name="content" value="<%=@tweet.content%>"/>

    <input type="submit"/>
</form>