<form method="POST" action="">
    <input id="hidden" type="hidden" name="_method" value="patch"/>
    <label>Current Conent:</label>

    <label>New Content:</label>
    <input type="text"/>

    <input type="submit"/>
</form>