<h2>Edit Tweet</h2>
<% if logged_in? %>
  <form action='/tweets/<%=@tweet.id%>' method="post">
    <input type='hidden' name='_method' value='PATCH'>
    Content:
    <input type="text" name="tweet[content]" id='content' value='<%=@tweet.content%>'><br>
    Edit Your Tweet:
    <input type="submit" value="submit">
  </form>

<% else %>
  <h1> You Must Be Logged in to Edit Tweets </h1>
<% end %>
