<% if Helpers.is_logged_in?(session) %>
<%= @error %>
  <form action='/tweets/<%= @tweet.id %>' method="POST">
    Content:
    <input type="text" name="content" id="content" value='<%= @tweet.content %>'>
    Edit Your Tweet:

    <input type="submit" name="submit" id="submit">

  </form>

  <% else %>
      <h1> You Must Be Logged in to Edit Tweets </h1>
  <% end %>
