<% if Helpers.is_logged_in?(session) %>
<%= @error %>
  <form action='/tweets/<%= @tweet.id %>' method="post">
    <input type="hidden" name="_method" value="patch">
    Content:
    <input type="text" name="content" value="<%= @tweet.content %>"><br>
    Edit Your Tweet:

    <input type="submit" name="submit" id="submit">

    <!-- <input type="submit" name="submit"> -->

  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
  <% end %> <br>
<%= "Welcome, User Name: #{@user.username} User ID: #{session[:user_id].to_s}"%>