<form action="/tweets/<%=@tweet.id%>/edit" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
<label for="edit_tweet">Edit Tweet:</label>
<input type="text" id="edit_tweet" name="content" placeholder="<%=@tweet.content%>">
<input type="submit" value="submit">
</form>
