
  <form action='/tweets/<%= @tweet.id %>' method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    Content:
    <input id="content" type="text" name="content" value="<%= @tweet.content %>"><br>

    <input type="submit" value="submit">
  </form>
