<h1>Edit a Tweet!</h1>

<form action="/tweets/<%= @tweet.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="content">Content:</label>
    <input type="text" name="content" value="<%= @tweet.content %>"><br>

    <input type="submit" name="submit" id="submit" value="Edit Tweet">
</form>