<form action="/tweets/<%=@tweet.id%>" method="post">
<input type="hidden" name="_method" value="patch">
<label for="content">Content</label>
<input type="text" name="content" id="content" value="<%=@tweet.content%>">
<input type="submit" name="submit" value="Edit Tweet">
</form>