<form action="/tweets/<%= @tweet.id %>" method="post">
<<<<<<< HEAD
  <input type="hidden" name="_method" value="patch">
=======
  <input type="hidden" name="_mathod" value="patch">
>>>>>>> da46b1ae4b79a1c8aec6ede0eb63536d50371e2d
  <input type="textarea" name="content" value="<%= @tweet.content %>">

  <input type="submit" name="submit" value="Submit" id="submit">

</form>
