<form action="/tweets/<%= @tweet.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch" />

  <label for="content">Content</label>
  <input type="text" id="content" name="content" value="<%=@tweet.content%>"/>
  
  <button type="submit" value="submit">Submit</button>
</form>
