<form method='POST' action='/tweets/<%= @tweet.id %>'>
<input id='content' type='text' name='content' value='<%= @tweet.content %>'>
<input id='submit' type='submit' name='Edit Tweet' value='Edit Tweet'>
</form>