<h1>Edit Tweet</h1>
<%= @tweet.content %>

<form action="/tweets/<%= @tweet.id %>" method="POST">
  <input type="hidden" name="_method" id="hidden" value="patch" />
  <textarea name="content"></textarea>
  
  <input type="submit" value="submit" />
</form>

