<% if is_logged_in?(session) %>
  <form action='/tweets/<%= @tweet.id %>' method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
    <h2>Edit Your Tweet:</h2>
    Content:
    <input type="text" name="content" value="<%= @tweet.content %>"><br>
    
    <br>
    
    <button type="submit" value="submit" id="Edit Tweet">Edit Tweet</button>
  
   </form>

  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
      <%= redirect "/login" %>
  <% end %>
 
</form>