<h1>All Tweets</h1>

<ul>
  <% @tweets.map do |tweet| %>
      <a href="tweets/<%=tweet.id%>">
        <%= tweet.content %> - <%= tweet.user.username %>
      </a>
      <br /> <br />
  <% end %>
<ul>