<% if Helpers.is_logged_in?(@session) %>
    <h1>Welcome, <%= @user.username %><h1>
    <% Tweet.all.each do | tweet | %>
        <%= tweet.content %>
        <br>
    <% end %>
<% else %>
    <h2>
        Please <a href= "/signup">sign up</a> or <a href= "/login">log in</a> to view tweets
    </h2>
<% end %>