<p>Welcome, <%=@user.username%>. Here are all the lovely tweets</p>

<ul><%@tweets.each do |tweet|%>
<li><a href="/tweets/<%=tweet.id%>"><%=tweet.content%></a></li>
<%end%>

<br>
<br>

<form action='/logout' method="post">
<input type= "submit" value="Log Out">
</form>

<form action='/tweets/new' method="get">
<input type= "submit" value="New Tweet">
</form>

<form action="/users/<%=@user.slug%>" method="get">
<input type="submit" name="my_tweets" id="my_tweets" value="View my Tweets">
</form>