<h1> Tweets </h1>
<p> Welcome, <%= current_user.username %>

<% @tweets.each do |tweet| %>
  <div>
    <%= tweet.content %>
    <a href="/tweets/<%= tweet.id %>">View Tweet</a>
  </div><br>
<% end %><br><br>

<p><a href="/tweets/new">Create a new tweet!</a></p>