<h1>Welcome, Here are the Tweets</h1>
<ul>
  <% @tweets.each do |t| %>
    <li>
      <div>
        <a href="/tweets/<%= t.id %>">
          <h4><%= t.user.username %></h4>
        </a>
        <p><%= t.content %></p>
      </div>

    </li>
  <% end %>

</ul>