<h1>Create a New Tweet!</h1>
<!-- The rest of this page (below) was preloaded in the repo -->

  <form action='/tweets' method="post">

    Create Your Tweet:
    <textarea type="text" name="content" placeholder="type your tweet here"></textarea><br><br>
    <input type="submit" name="submit" id="submit">
  </form>

  
