<h2>Welcome, <%= @user.username %></h2>
<h3>Create New Tweet</h3>
<br /><br />
<form method="POST" action="/tweets">
  Content: <textarea name="content"></textarea>
  <br />
  <br />
  <button type="submit" id="submit">Submit</button>
</form>