<% if is_logged_in?(session) %>
  
    <div class="container">
        <div class="row">   
           <h3>Enter Tweet</h3>
        </div> 

  	<form action='/tweets' method="post">

	  	<div class="row">
	      <div class="col-md-2 col-md-offset-1"></div>
			<label for="title"><h4>Title:</h4></label>
	  		<input type="text" name="title" id="title"> 
	  	</div>

	  	<div class="row">
	      <div class="col-md-2 col-md-offset-1"></div>
		    <label for="user[content]"><h4>Content:</h4></label>
	        <textarea name="user[content]" id="content"></textarea>
	    </div> 

	  	<div class="row">
	      <div class="col-md-2 col-md-offset-1"></div>
		  <input type="submit" name="submit" id="submit">

	  </form>

	  <h4><a href="/logout">Click here to logout</a></h4>

  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
  <% end %>


