<form method='POST' action='/tweets'>

  <h3>Create Your Tweet:</h3>
	<textarea type="text" name="content" id="content" rows="3" cols="30"></textarea>

  <br><br>
	<input type='submit' value='Create' id='submit'>

</form>