<h1>Create a Tweet:</h1>
<form action='/tweets' method="post">

  Write Your Tweet Here:
  <input type="text" name="content">
  <input class="btn btn-primary" type="submit" value="submit">

  </form>
