<form action='/tweets' method="post">

  <label for="content">Content:</label>
  <input type="hidden" name="tweet[user_id]" value="<%= @user.id %>">
  <input type="text" id="content" name="tweet[content]">

  <input type="submit" id="submit" value="Submit Tweet">
</form>

