<h2>Compose new Tweet</h2>

<form action="/tweets" method="POST">

  <label>What's happening?</label>
  <input type="text" name="content" id="content">

  <input type="submit" id="submit" value="Submit">
</form>