<% if Helpers.is_logged_in?(session) %>
<%= @error %>
  <form action='/tweets' method="post">
    Content: 
    <br>
    <!-- <input type="textarea" name="content"> -->
    <textarea id="content"  name="content" rows="5" cols="35">
    </textarea>
    <br>
    <br>

    Create Your Tweet:

    <input type="submit" name="submit" id="submit">

  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
  <% end %>
