<h1>New Tweet</h1>
  <form action='/tweets' method="post">
    Content:
    <input type="text" name="content" required><br><br>

    Create Your Tweet:

    <input type="submit" name="submit" id="submit">

  </form>

