<form action='/tweets' method="post">
    Content:
    <input type="textarea" name="content" value="content" id="content"><br>
    Create Your Tweet:

    <input type="submit" name="submit" id="submit" value="submit">

</form>
