
<form action='/tweets' method="post">
  
  <label for="content">Content: </label>
  <input type="text" name="content" id="content" required><br>
  
  Create Your Tweet:

  <input type="submit" name="submit" id="submit">

</form>

