
<br><h5>Create a new tweet:</h5></br>

  <form method="POST" action="/tweets">
    <p>Type tweet here:</p> <input type="text" name="content" id="content"><br>
    <br>
    <br><input type="submit" value="submit"></br>
  </form>
</div>
