<h2>Create a New Tweet:</h2>
<form action="/tweets" method="post">
  <input type="text" name="content" placeholder="Type your tweet here:">
  <br>
  <input type="submit" value="create" id="submit">
</form>