<h3>New Tweet</h2>

<form action="/tweets/new" method="post">
  <input type="text" id="content" name="content" placeholder="Type your tweet here."><br>
  <input type='submit' id='submit' name='submit' value='Send Tweet'>
</form>