<form method="POST" action="/tweets">
  <h1>New tweet</h1>
  <p><label for="content">Content:</label>
  <textarea type="text" id="content" name="content" ></textarea></p>
  <input type="submit" id ="submit" value="Submit" />

</form>
