<form action='/tweets' method="post">  
  <h3>Create Your Tweet:</h3>

  <label for="content">Status</label>
  <input type="text" name="content"><br>

  <input class="button" type="submit" name="submit" value="submit">
</form>


