<% if is_logged_in?(session) %>
<%= @error %>
  <h2>Create A New Tweet: </h2>
  <form action='/tweets' method="post">
    Content:
    <input type="text" name="content"><br><br>
    <input type="submit" id="submit" value="Create Your Tweet">

  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
  <% end %>
