<section
  style="width: 40vw; margin: 50px auto; padding: 10px; border-radius: 10px; box-shadow: 3px 3px 20px rgba(0,0,0,0.2);"
  class="animated bounceInLeft"
>
  <h3>Care to tweet?</h3>

  <form action="/tweets" method="POST" class="user-form"">
    <label for="tweet">Type your message:</label>
    <textarea type="text" name="content" id="tweet" /></textarea>

    <button type="submit" id="submit" class="button form-btn">Submit</button>
  </form>

</section>