<h2> Add to your tweets </h2>

  <form action="/tweets" method="POST">
    
    <h3>Create Your Tweet:</h3>
    <h4> <input type="text" name="content"> </h4>
    
    
    <input class="btn" type="submit"  value="submit">

  </form>

  
