<h1>Create new Tweet below: </h1>

  <form action='/tweets' method="POST">
    <label>Content: <input type="text" name="content"></content><br>
    <br>
    Create Your Tweet:
    <input type="submit" name="submit" id="submit">
  </form>
