<h1>Create a new Fweet!</h1>
<form action="/tweets" method="POST">
  <label for="content">Enter Tweet</label>
  <input type="text" id="content" name="content" required />
  <button id="submit" type="submit">Submit</button>
</form>
