<h2>Enter your tweet here</h2>

<form class="" action="/tweets" method="post">
  <label for="content">Content: </label>
  <input type="text" name="content" value="">

<input type="submit" id="Submit"
  </form>
  
