<% if logged_in? %>

<h1>Create a new tweet:</h1>

<form action="/tweets" method="post">

    <h3><label for="content">Content:</label><br></h3>
    <textarea name="content" id="content" cols="35" rows="5"></textarea>
    <br><br>
    <input class="btn btn-primary" type="submit" id="submit">

</form>
<% else %>
    <h1> You Must Be Logged in to Make Tweets </h1>
<% end %>
