<h1>Create Tweet</h1>
<form action="/tweets" method="POST">
  <label>Content: </label>
  <input type="textarea" name="content" id="content">
  <input type="submit" name="Create Tweet" id="submit">
</form>