<form action="/tweets" method="post">
  <label for="content">Content</label>
  <input type="text" name="content" id="content">
  <input type="submit" name="submit" id="submit" value="Create Tweet">
</form>
