<h1>Create Tweet</h1>

<form action="/tweets" method="post">

  <label for="content">What's on your mind?</label>
  <input type="text" id="content" name="content" value="">
  <input type="submit" id="submit" name="submit" value="Submit">
</form>
