<h2>Create a new tweet!</h2>

  <form action='/tweets' method="post">
    
    <label for="content">Whatchu thinkin' 'bout?</label>
    <input type="text" name="content">

    <input type="submit" value="submit">

  </form>
