
  <form action='/tweets' method="post">
    Content:<br>
    <textarea name="content"></textarea><br>
    Create Your Tweet:

    <input type="submit" name="submit" id="submit">

    <input type="submit" name="submit">

  </form>

  <%#<% else %>
      <%#<h1> You Must Be Logged in to Make Tweets </h1>
  <%# end %>
