<h2>Create A New Tweet: </h2>
<%= session[:error_message] %> <br><br>
<% session.delete(:error_message) %>
<form action='/tweets' method="post">
  Content:
  <input type="text" name="content"><br><br>
  <input type="submit" id="submit" value="Create Your Tweet">

</form>
