  <h2>New Tweet:</h2>
  <form action='/tweets' method="post">
    <label for="content">Content: </label>
      <input type="text" id="content" name="content" required><br>

    <input type="submit" id="submit" value="Tweet">
  </form>