<h1>New Tweet:</h1>
<form method="POST" action="/tweets">
  <p><label for="content">Content:</label>
  <input type="text" name="content" id="content"></p>

  <input type="submit" id="submit" name="submit" />
</form>