<% if logged_in? %>
  <form action="/tweets" method="post">
    <label for="content">Tweet: </label>
    <input type="text" name="content">
    <button type="submit">submit</button>
  </form>
<% else %>
  <p>You must <a href="/login">log in</a> to make tweets. </p>
<% end %>
