<%if logged_in?%>
  <form action='/tweets/new' method="post">
    Content:
    <input type="text" name="content"><br>
    
    Create Your Tweet:
    <input type="submit" name="submit" id="submit">
  </form>
<%else%>
  <p>You must be logged in.</p>
<%end%>