
  <form action='/tweets' method="post">
    Content:
    <input type="text" id="content" name="content"><br>
    Create Your Tweet:

    <button type="submit" id="submit">Submit</button>

  </form>

