<h1>Create a New Tweet</h1>

<form method="POST" action="/tweets">
  <textarea type='text' rows="4" cols="50" name="content" placeholder="What's Happening?"></textarea>
  <br><input type='submit' value="Tweet" id="submit"/>
</form>
