<h1>New Tweet</h1>
<form action="/tweets" method="post">
  <label for="content">Tweet Your Thoughts: </label>
  <textarea type="text" name="tweet[content]" id="content" rows="40" cols="120"></textarea>
  <input type='submit' name="submit" value="Post new Tweet" id="submit">
  
</form>