<h1>Create Tweet</h1>

<% if authorized?(@tweet) %>

<form action="/tweets" method="post">

  <label for="content">What's on your mind?</label>
  <textarea type="text" id="content" name="content" style="width:auto; height:auto">
  <input type="submit" id="submit" name="submit" value="Submit">
</form>
<% end %>
