<h2>Tweet something!</h2>

<form action="/tweets" method="POST">
  <label>What's on your mind?</label><br>
  
  <textarea name='content' rows='3' cols='50' required></textarea>

  <input type="submit" name="submit" id="submit">
</form>
