<% if flash.has?(:empty) %>
<%= flash[:empty] %>
<% end %>

  <form action="/tweets" method="POST">
    Content:
    <input type="text" name="content"><br>
    Create Your Tweet:

    <input type="submit" name="submit" id="submit">


  </form>

  


