<form class="new_tweet" action="/tweets" method="post">
	<h2>New tweet:</h2>
	<textarea class="content" name="content" rows="8" cols="80" placeholder="What's happening?"></textarea>
	<br>

	<input id="submit" type="submit" value="Tweet">
</form>
