<% if logged_in? %>
  <form action='/tweets' method="post">
    <div>
      Content:
      <input type="textarea" name="content"><br>
    </div>
    Create Your Tweet:

    <input type="submit" name="submit" id="submit">

  </form>
<%else%>
  <h1>You must be logged in to create a new tweet</h1>
  <br>
  <h1><a href="/login">Login<a><h1>
<%end%>
  
