<h1>New Tweet</h1>

<form action="/tweets" method="POST">

  <label for="content"> Content </label>
  <input type="text" name="content" id="content">

  <input type="submit" value="Post" id="submit">
</form>