<div class="container-fluid tweet">
  <h1>Create a new tweet:</h1>

  <form method="post" action="/tweets/new">
  <textarea type="text" name="content" placeholder="type your tweet here" rows="5" cols="50"></textarea><br>
  <input type="submit" value="submit">
  </form>
</div>