
  <form action='/tweets' method="post">
    <label for"content">What do you have to say?</label>
    <input type="text" name="content"><br><br>
    
    <input type="submit" name="submit" id="submit">

  </form>

  
