<h2>Enter your tweet here</h2>

<form action="/tweets" method="post">
  <label for="content">Content: </label>
  <input type="text" name="content" id="content">

<input type="submit" id="Submit">

</form>
