<h2>Welcome, <%= @user.username %></h2>

  <h3>Create New Tweet</h3>
    <form action='/tweets' method="post">
      Content:
      <input type="text" name="content"><br>
      Create Your Tweet:

      <input type="submit" name="submit" id="submit">

    </form>
