<% if flash.has?(:empty_tweet) %>
  <%= flash[:empty_tweet] %>
<% end %>

<% if Helpers.is_logged_in?(session) %>
<%= @error %>
  <form action='/tweets' method="post">
    <label>Create Your Tweet </label><br>

    <input type="text" name="content" id = "content"><br><br>


    <input type="submit" name="submit">

  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
  <% end %>
