<% if Helpers.is_logged_in?(session) %>

  <%= @error %>
    <form action='/tweets' method="post">
      <h1>Welcome <%= Helpers.current_user(session).username %></h1>
      Content:
      <input type="text" name="content" required><br>
      Create Your Tweet:

      <input type="submit" name="submit">

    </form>

<% else %>
    <h1> You Must Be Logged in to Make Tweets </h1>
<% end %>
