<form action='/tweets' method="post">  
  <h3>Create Your Tweet:</h3>

  <label for="content">Status</label><br>
  <textarea type="text" name="content"></textarea><br>

  <input class="button" type="submit" name="submit" value="submit">
</form><br><br>

<a class="home-button" href="/">Home</a>
<a class="logout-button" href="/">Logout</a>


