<p>Create a new Tweet</p>

<form method="POST" action="/tweets/new">
  <label for "content">What's Tweeting?: </label>
  <input type="text" id="content" name="content">
  <input type="submit" id="submit" value="Tweet that Tweet!">
</form>
