<% if logged_in? %>

  <h2>Add a tweet</h2>
  <form action="/tweets" method="POST">
    <p>Status: <input type="text" name="content"></p>
    <input type="submit" value="submit">
  </form>

<% else %>
  <p>You must be logged in to write a tweet</p>
  <a href="/signup">Sign Up</a>
  <a href="/login"> Sign In </a>
<%end %>
