<form method="POST" action="/tweets">
  <h1>New tweet</h1>
  <p><label for="content">Content:></label>
  <input type="text" id="content" name="content" /></p>
  <input type="submit" id ="submit" value="Submit" />

</form>
