<%# Logged in as <%= current_user.username %>
<form action='/tweets' method=POST>
    Content:
    <input type="text" name="content"><br>
    <br>
    <input type="submit" name="submit" id="submit" value="Create Tweet">
</form>
