<h1>New Tweet</h1>

<form action="/tweets" method="POST">
<p><label for="content">Tweet content: </label>
<input type="text" name="content" id="content">
<input type="submit" id="submit">
</p>
</form>