<% if flash.has?(:message) %>
    <h3><%= flash[:message] %></h3><br><br>
<% end %>
  <form action='/tweets' method="post">
    Content:
    <input type="text" name="content"><br><br>
    Create Your Tweet:

    <input type="submit" name="submit" id="submit">

  </form>

 