  <form action='/tweets' method="post">
  <p> Content: <input type="text" name="content"></p>
  <br>
  <p>Create Your Tweet: <input type="submit" name="submit" id="submit" value="Create"></p>
  </form>

