<h1>Create a new Tweet</h1>
<form action='/tweets' method="post">
    <label for="content">Content:</label>
    <input type="text" id="content" name="tweet[content]"><br>

    <input type="submit" id="submit" name="submit" value="submit">
</form>
