<% if current_user(session) %>
  <form action='/tweets' method="POST">
    <label for="tweet_content">Content:</label>
    <input type="text" name="content" id="tweet_content">
  <br><br>
    <input type="submit" value="submit">
  </form>
<% else %>
  <a class="button" href="/login">You must Log In to create a Tweet</a>
<% end %>
