<% if logged_in? %>

  <form action='/tweets' method="POST">
    Content:
    <input type="text" name="content" id="content"><br>
    Create Your Tweet:



    <input type="submit" id="submit" name="submit">

  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
  <% end %>
  <a href="/">HOME</a>
