<h3>Create new tweet</h3>
<br>
<form action='/tweets' method="post">
  <textarea name="content" placeholder="I wanna know what's on your mind" required></textarea><br><br>
  <input type="submit" name="submit" value="Publish tweet" class="btn btn-success"><br><br>
</form>