<% if Helpers.is_logged_in?(session) %>
<%= @error %>
  <form action='/tweets/new' method="post">
    Content:
    <input type="text" id="content" name="content"><br>
    Create Your Tweet:

    <input type="submit" value="submit">

  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
  <% end %>
