<h1>Your tweet</h1>
<h3><%= @tweet.content %></h3>

<!-- Form to delete a tweet -->
<h2>Delete Tweet</h2>
<form method="POST" action="/tweets/<%= @tweet.id %>/delete">
<input type="hidden" id="hidden" name="_method" value="DELETE" /></p>
<input type="submit" id ="submit" value="Delete Tweet" />
</form>

<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet </a>
