<h3><%= @tweet.content %></h3>

<label>Delete Tweet</label>
<br>

<form action="/tweets/<%= @tweet.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Tweet" id="delete">

</form>
