<h2>Tweet</h2>
<ul>
    <% @user.tweets.all.each do |tweet| %>
        <li>
            <%= @tweet.content %>
        </li>
    <% end %>
</ul>

<form method="POST" action="/tweets/<%=@tweet.id%>/edit">
    <input type="submit" value="Edit Tweet">
</form>

<form method="POST" action="/tweets/<%=@tweet.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <br>
    <input type="submit" value="Delete Tweet">
</form>