<%= @tweet.content %>
<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>
<form method="post" action="/tweets/<%= @tweet.id %>">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Tweet">
</form>