

<h3> Author: <%= @tweet.user.username %> </h3>
<h4> Content: <%= @tweet.content %> </h3>


<form action="/tweets/<%=@tweet.id%>/delete" method="POST">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete Tweet">
</form>



<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>
