<h1>tweet show</h1>

<%= @tweet.content %>

<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>

<form method="post" action="/tweets/<%= @tweet.id %>/delete">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Tweet">  
</form>