<%= @tweet.user.username %><br>
<%= @tweet.content %>
<a href="/tweet/<%= @tweet.id %>/edit">Edit Tweet</a>
<form action="/tweet/<%= @tweet.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Tweet" id="delete">
</form>
