<h1>Your tweet</h1>
<br>
<a href="/users/<%=current_user.username.downcase%>">Home<a>
<a href="/tweets">All Tweets<a>
<br>

<p><%=@tweet.content%></p>

<form method="post" action="/tweets/<%=@tweet.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Tweet">
</form>

<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet </a>
