<small> <% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
</small>
<br><br>

<p><%= @tweet.content %></p>

<form method="post" action="/tweets/<%=@tweet.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Tweet">
</form>
<br>

<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet </a>

<br><br>


<a class="home-button" href="/">Home</a>
<a href="/tweets">Tweets</a>
<a class="logout-button" href="/">Logout</a>