 <h1>Tweet Show Page</h1>
 <p><%= @tweet.content %></p>
 <a href='/tweets/<%= @tweet.id %>/edit'>Edit Tweet</a>
 <br></br>
 <a href = "/tweets/new" > New tweet</a>
 <br></br>
 <a href = "/tweets" > All tweets</a>
 <br></br>

 <form method="post" action="/tweets/<%=@tweet.id%>">
   <input id="hidden" type="hidden" name="_method" value="delete">

   <input type="submit" value="Delete Tweet">
 <form>