<%= @tweet.content %><br>

<br>
<form action="/tweets/:id/delete" method="post">
  <input type="submit" id="submit" value="Delete Tweet">



  <div class="button">
    <a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>
  </div>
