require 'pry'
<label>Show page</label>

<%= @tweet.content %>


<form action="/tweets/<%=@tweet.id%>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE">

  


    <input type="submit" value="Delete Tweet">

    
</form>


<a href= "/tweets/<%=@tweet.id%>/edit">"Edit Tweet"</a>

