<!doctype html>
  <head>
    <title>Fwitter</title></br>
      <br>
    <p><%= @tweet.content %></p>
      <br>

      <form method="POST" action="/tweets/<%= @tweet.id %>/delete">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Tweet">
      </form>

      <br>
      <a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet </a>
  </head>
</html>
