<p>
        <%= @tweet.content %>

        <a href="/tweets/<%= @tweet.id %>"> Edit Tweet </a>

        <form action="/tweets/<%= @tweet.id %>" method="POST">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Tweet">
</p>


