<h1>Tweet Show Page</h1>

<%= @user.username %>: <%= @tweet.content %></br>

<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>

<form action="/tweets/<%= @tweet.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit">Delete Tweet</button>
</form>