<h3><%= @tweet.content %></h3>
<br>
<h4>-- <%= @tweet.user.username %></h4>
<br>
<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>
<form method="post" action="/tweets/<%= @tweet.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Tweet">
</form>
