<h1>Your New Tweet</h2>

<%= @tweet.content %>

<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>

<form action="/tweets/<%= @tweet.id %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Tweet" id="submit">
</form>
