<h4> <%= @tweet.content %> </h4>

 <a href="/tweets/<%= @tweet.id %>">
  <form action="/tweets/<%= @tweet.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" id="delete" value="Delete Tweet">
  </form>
</a><br><br>

 <a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a><br><br>
