<p><%= @tweet.content %></p>

<a href="/tweets/<%=@tweet.id%>/edit"><input type="submit" value="Edit Tweet"></a>
<a href="/tweets/<%= @tweet.id%>/delete"><input type="submit" value="Delete Tweet"></a>