<% if logged_in? %>
<p><%= @tweet.content %></p>

<% if authorized?(@tweet) %>

<a href="/tweets/<%= @tweet.id %>/edit"><button>Edit Tweet</button></a>
<br>

<form action="/tweets/<%= @tweet.id %>/delete" method="post">
  <!-- <a href="/tweets/<%= @tweet.id %>">Delete Tweet</a> -->
  <!-- <input type="hidden" name="_method" value="delete"> -->
  <input type="submit" id="submit" name="submit" value="Delete Tweet">
</form>
<a href="/tweets"><button>Back to Tweets</button></a>
<% end %>
<% end %>
