Content: <p><%= @tweet.content %></p>
<br>
<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a> <br>
<form action="/tweets/<%=@tweet.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete"/>
  <input type="submit" value="Delete Tweet"/>
</form><br>
<a href="/tweets">Go Home</a>