<h3><%= @tweet.content %></h3>

<form action="/tweets/<%= @tweet.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" id="Delete Tweet" value="Delete Tweet"/>
</form>

<a class="button" href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>
