<%=@tweet.content%>
<form action="/tweets/<%=@tweet.id%>/delete" method="post" >
  <input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete Tweet" id="Delete Tweet">
</form>
<br>
<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>