<p><%= @tweet.content %></p>
<form method="post" action="/tweets/<%=@tweet.id%>/delete">
  <input type="hidden" name="_method" id="hidden" value="delete">
  <input type="submit" value="Delete Tweet" id="Delete Tweet">
</form>

<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet </a>
