<h4>Tweets:</h4>
<ul>
  <li><%= @tweet.content %></li>
<ul>

<a class="button" href="/tweets/edit_tweet">Edit</a>
<form action="/tweets/<%= @tweet.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
