<h1>Your tweet</h1>
<h3><%= @tweet.content %></h3>
<a href="/tweets/<%= @tweet.id %>/edit">Edit tweet</a>
<!-- Form to delete a tweet -->
<form method="POST" action="/tweets/<%= @tweet.id %>/delete">
<input type="hidden" id="hidden" name="_method" value="DELETE" /></p>
<input type="submit" id ="submit" value="Delete" />
</form>
