<%= @tweet.user.username %><br/>
<%= @tweet.content %><br/>

<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a><br/>

<form method="POST" action="/tweets/<%= @tweet.id %>">
<input id="hidden" type="hidden" name="_method" value="DELETE">
   <input type="submit" value="Delete Tweet" />
</form>

