<p><%=@tweet.content%></p>
<p> ~ <%= @tweet.user.username %></p>
<br>

<form action="/tweets/<%=@tweet.id%>/edit" method="GET">
    <input type="submit" value ="Edit Tweet">
</form>

<form action="/tweets/<%=@tweet.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value ="Delete Tweet">
</form>

<a href="/tweets">Back</a>