
<form method="POST" action="/tweets/<%= @tweet.id %>/delete">
    <input type="submit" value="Delete Tweet">
</form>
<p><%= @tweet.content %></p>
<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>
