Tuip
<%= @tweet.user_id %> <br>
<p><%= @tweet.content %></p>
<br>

<form method="POST" action="/tweets/<%=@tweet.id%>/delete">
  <input id="hidden", type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Tweet">
</form>

<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet </a>
<a href='/tweets/new'>New Twuip</a>
<br>
<a href='/tweets'>All Twuips</a>
