<h1>Welcome, <%= @tweet.user.username %></h1>
<h2>Your Tweet:</h2>
<%= @tweet.content %>
<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>
<form action="/tweets/<%= @tweet.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="submit" value="Delete Tweet">
</form>
