<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a> 


<body>
<%= @tweet.content %>

<form method="POST" action="/tweets/<%= @tweet.id %>/delete">
 <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Tweet">
</form>
</body>