<%= @tweet.content %>
<br>
<p><a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a></p>
<form action="/tweets/<%=@tweet.id%>/delete" method="post">
  <input type="submit" value="Delete Tweet" id="submit">
</form>