<h2>Tweet</h2>

<form action="/tweets/<%= @tweet.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">

  <p><%= @tweet.content %></p>

  <a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>

  <br>
  <br>

  <input type="submit" id="delete" value="Delete Tweet">
</form>