<p><%= @tweet.content %></p>
<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>
<form action="/tweets/<%= @tweet.id %>/delete" method="POST">
  <input type="submit" value="Delete Tweet">
</form>
<br>
<a href="/tweets">Home</a>
