<p>- "<%= @tweet.content %>"</p>
<h4>By <%= @tweet.user.username %></h4>
<form method="post" action="/tweets/<%=@tweet.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Tweet">
</form>
<br>
<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>
<br>
<a href="/tweets">HOME</a>



