<%= @tweet.content %>

<form action="/tweets/<%= @tweet.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Tweet">
</form>

<form action="/tweets/<%= @tweet.id %>/edit" method="get">
    <input type="submit" value="Edit Tweet">
</form>