<p><%=@tweet.content%></p>

<form action="/tweets/<%=@tweet.id%>/delete" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete this tweet">
</form>

<p>To edit your tweet, <a href="/tweets/<%=@tweet.id%>/edit">click here.</a></p>
