<p><%= @tweet.content %></p>
<a class="button" href="/tweets/<%=@tweet.id%>/edit"> Edit Tweet </a>
<form action="/tweets/<%= @tweet.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" id="submit" value="Delete Tweet">
</form>
