<h1>Your Tweet</h1>

  <div>
    <%= @user.username %>: <%=@tweet.content %>
  </div>

  <br>
  <a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>

  <div>
    <form action="/tweets/<%= @tweet.id %>/delete" method="post">
      <input type="hidden" id="hidden" name="_method" value="delete">
      <button type="submit" id="Delete Tweet">Delete Tweet</button>
    </form>
  </div>
