<%=@tweet.content%>

<form action="/tweets/<%= @tweet.id %>/edit" method="get">
  <input type="submit" value="Edit Tweet" id="Edit Tweet" name="Edit Tweet">
</form>
<form action="/tweets/<%= @tweet.id %>/delete" method="POST">
  <input type="hidden" value="delete" id="hidden" name="_method">
  <input type="submit" value="Delete Tweet" id="Delete Tweet" name="Delete Tweet">
</form>
