<h1>Welcome, <%= current_user.username %></h1>
<h2> Tweets </h2>

<% @tweets.each do |tweet| %>
  <ul>
    <li><a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a></li>
  </ul>
<% end %>

<a href="/tweets/new"><button>New Tweet</button></a>
<a href="/logout"><button>Log Out</button></a>
