
<h1>Welcome, <%=@user.username%></h1>
<ul id="tweet-list", style= "list-style: none">
<%@tweets.each do |t|%>
    <li>
    <div class="tweet-container">
    <a href="/tweets/<%=t.id%>"><%=t.user.username%></a>
    <p id="tweet-content"><%=t.content%></p>
    </div>
    </li>
<%end%>
</ul>

<a href="/tweets/new"><input type="button" value="New Tweet"></a>
<form action="/logout" method="get">
<input type="submit" name="logout" value="Logout">
</form>
