
<h1>Welcome,  <%= current_user.username %> </h1>
<% @tweets.each do |tweet| %>
<%= tweet.content %>
<% end %>

<form method="GET" action="/logout">

<input type="submit" name="Logout" value='Logout' >
</form>