<h3>Welcome, <%=@user.username %></h3>
  <% @tweets.each do |tweet| %>
    <ul>
      <li><a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a></li>
    </ul>
    <%end%>

    <br>

    <div class="button">
      <button type="button"><a href="tweets/new">New Tweet</a></button>
    </div>
