<p>Welcome to Fwitter, <%= current_user.username %>. Happy you could join us!</p>


<% Tweet.all.each do |tweet| %>
    <a href="/tweets/<%=tweet.id%>"><p> <%= tweet.content %> </p></a>
    <p> ~ <%= tweet.user.username %></p>
<% end %>

<form action="/tweets/new" method="GET">
    <input type="submit" value="Create tweet">
</form>

<p><a href="/logout">Log Out</a></p>
