<p> Welcome, <%= current_user.username %>
<h3> Tweets </h3>

<% @tweets.each do |tweet| %>
  
    <% if !tweet.content.empty? %>
      <%= tweet.content %>
    <%else%>
    <h2>No tweets!</h2>   
  
<%end%>