<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title><%= current_user.username %>'s Tweets</title>
  </head>
  <body>
    This is where <%= current_user.username %>'s tweets will show up!
  </body>
</html>
