<p> Welcome, <%= current_user.username %>
<h2> Timeline </h2>

<a href="/tweets/new"> Create Tweet </a>
<br>

<% @tweets.each do |tweet| %>
  <div>
   <h3>Created by: <%= tweet.user.username %> </h3>
   <%= tweet.content %>
   <br>
    
  </div>
<% end %>

<br> 

<a href="/logout"> Log Out </a>