<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title></title>
  </head>
  <body>
    <p>Welcome, <%= current_user.username.capitalize %>!</p>
    <a href="/logout">Logout</a>
  </body>
</html>
