<h1>Welcome, <%= @user.username %></h1>

<h3>Tweets:</h3>
<% @tweets.each do |tweet| %>
<ol>
  <li><a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a></li>
</ol>
<% end %>
<a href="/tweets/new"><button>New Tweet</button></a>
<a href="/logout"><button>Log Out</button></a>
