<!-- <a href="/logout">Logout</a> -->
<h1>Welcome, <%= @user.username %></h1>
<% if Tweet.all.empty? %>
  No Flatiron tweets yet!
<% else %>
  <% @tweets.each do |t| %>
    <p><%= t.content %></p>
  <% end %>
<% end %>
