<h1>Welcome, <%= current_user.username %>!</h1>

<a href="/logout">Logout</a><br>
<a href="/tweets/new">New Tweet</a><br><br>

<% Tweet.all.each do |tweet| %>
  <a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a><br><br>
<% end%>
