<p> Welcome, <%= current_user.username %>
<h2> Tweets </h2>

<% @tweets.each do |tweet| %>
  <div>
    <% if !tweet.content.empty? %>
      <%= tweet.content %>
    <%else%>
    <h2>No tweets!</h2>   
  </div>
<%end%>