<% if is_logged_in? %>
  <h2> Welcome, <%=current_user.username %> </h2>
  <h3> tweeting! </h3>
  
  
  <% @tweets.each do |tweet| %>
    <%= tweet.content %>
  <% end %>
<% end %> <br>

<br>

<a href="/logout">Log Out</a>