<div class="container">
  <ul>
    <li><a class="active" href="#home">Fwitter</a></li>
    <li><a href="#news">Home</a></li>
    <li><a href="#contact">Sign Up</a></li>
    <li><a href="#about">Log In</a></li>
  </ul>
</div>
