<h1>Sign up and all that:</h1>

<form action="/signup" method="post">
    username: <input type="text" name="username" id="username">
    email: <input type="text" name="email" id="email">
    password: <input type="text" name="password" id="password">

    <input type="submit" name="Create User">

</form>

