<h2>Sign up now!</h2>

<form class="signup" action="/signup" method="post">
	<label for="email">E-mail address:</label>
	<input id="email" type="text" name="email">
	<br><br>

	<label for="username">Username:</label>
	<input id="username" type="text" name="username">
	<br><br>

	<label for="password">Password:</label>
	<input id="password" type="password" name="password">
	<br><br>

	<input type="submit" value="Sign Up">
</form>

<h2>Already signed up?</h2>
<button type="button" onclick="location.href='/login'">Log in</button>
