<h2>Sign Up</h2>

<form action="/signup" method="POST">

  <label>Username:</label>
  <input type="text" name="username" placeholder="username">

  <label>Password:</label>
  <input type="password" name="password" placeholder="password">

  <label>Email:</label>
  <input type="email" name="email" placeholder="email">

  <input type="submit" id="sign_up" value="Sign Up">
</form>