<h1>Sign Up</h1>

<form action="/signup" method="post">

  <label for="">Username:</label>
  <input type="text" name="username">
  <br><br>

  <label for="">Email:</label>
  <input type="text" name="email">
  <br><br>

  <label for="">Password:</label>
  <input type="password" name="password">
  <br><br>

  <input type="submit" name="" value="Sign Up">

</form>
