<h3>Sign Up</h3>

<form action="/signup" method="POST">
  <label>Username:</label>
  <input type="text" name="username"><br>
  <label>Email:</label>
  <input type="text" name="email"><br>
  <label>Password:</label>
  <input type="text" name="password"><br>
  <input type="submit" value="Finish Signup">
</form>
