<div class="container">
  <h1>Welcome to Fwitter!</h1>

</div>

<h2>Create a Fwitter Account</h2>
<form action="/signup" method="post">
<label for="username">Username:</label>
<input type="text" id="username" name="username" required/><br>
<label for="email">Email:</label>
<input type="text" id="email" name="email" required/><br>
<label for="password">Password:</label>
<input type="text" id="password" name="password"/>
<button type="submit">Create Account</button>
</form>
