<h1>Welcome to Fwitter!</h1>
<p>Please create an account below.</p>

<form action="/signup" method="POST">
  <label>Username:</label>
  <input type="text" name="username">
  <label>Email:</label>
  <input type="text" name="email">
  <label>Password:</label>
  <input type="text" name="password">

  <input type="submit" value="submit">
</form>
