<form action="/signup" method=POST>
  Email Address: <input type="text" name="email"><br>
  <br>
  Create Username: <input type="text" name="username"><br>
  <br>
  Create Password: <input type="password" name="password"><br>
  <br>
  <input type="submit" value="Register">
</form>
