<h2>Welcome, New Users!</h2>

<h3>Sign up below</h3>
<form action="/signup" method="POST">
  <p>Name:<input type="text" name="username" id="username"></p>
  <p>Email:<input type="text" name="email" id="email"></p>
  <p>Password:<input type="text" name="password" id="password"></p>
  <input type="submit" value="submit">
</form>
