<h1>Create New User</h1>

<form action='/signup' method='POST'>

  <label for='email'>Email: </label>
  <input type='text' name='email' id='email'>

  <br><br>

  <label for='name'>Username: </label>
  <input type='text' name='username' id='username'>

  <br><br>

  <label for='password'>Password: </label>
  <input type='password' name='password' id='password'>

  <input type='submit' value='Create User'>

</form>
