<h1>Signup Page</h1>

<% if @error_message %>
  <p><%= @error_message %></p>
<% end %>

<form method="POST" action="/signup">
  <p><input type="text" name="username" placeholder="username"></p>
  <p><input type="email" name="email" placeholder="email"></p>
  <p><input type="password" name="password" placeholder="password"></p>

  <input type="submit" value="Submit">
</form>