<form method="post" action="/signup">
  <p><label for="user_name">Username: </label><input type="text" id="user_name" name="username"></p>
  <p><label for="email">E-mail: </label><input type="text" id="password" name="email"></p>
  <p><label for="password">Password: </label><input type="password" id="password" name="password"></p>
  <input type="submit" id="Create User" value="Create User">
</form>
