<form action="/signup" method="post">

  <h2>Username: <input id="username" type="text" name='username'></h2>

  <h2>Email: <input id="email" type="text" name='email'></h2>

  <h2>Password: <input id="password" type="text" name='password'></h2>

  <input id="Create User" type="submit">

</form>
