<h1>Sign Up for Fwitter</h1>

<form action="/signup" method="POST">
  <label for="email">Email</label>
  <input type="text" name="email" id="email"> </br>

  <label for="username">Username</label>
  <input type="text" name="username" id="username"> </br>

  <label for="username">Password</label>
  <input type="password" name="password" id="password"> </br>

  <input type="submit" value="Sign up!">
</form>