<h1>Signup</h1>
<h2>Please provide a Username, email address and password</h2>
<form action="/signup" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username"><br><br>
  <label for="email">Email:</label>
  <input type="text" name="email"><br><br>
  <label for="password">Password:</label>
  <input type="text" name="password"><br><br>
  <input type="submit" value="Sign Up">
</form>