<form action="/signup" method="POST">
<h1> This is the sign up page</h1>

<label for="username">User Name:</label><br>
  <input type="text" id="username" name="username"><br>

<label for="email">Email:</label><br>
  <input type="text" id="email" name="email"><br>

<label for="password">Password:</label><br>
  <input type="password" id="password" name="password"><br>

<input type="submit" value="Submit">
</form>
