
<!DOCTYPE html>
<html>
  <head> 
    <title> Sign Up For Fwitter</title>
  </head>
  <body>
    <h1>Hey, Fwitters! You Can Sign Up Here!</h1>
      <form method="post" action="/signup">
      
      <label for="email"> Email: </label>
      <input type="text" id="email" name="email">
      
      <label for="username"> Username: </label>
      <input type="text" id="username" name="username">
    
      <label for="password"> password: </label>
      <input type="text" id="password" name="password">
    
      <input type="submit" value="Create Fwitter Account" id="submit">
    </form>
  </body>
</html>