<h1>New User Signup</h1>

<form action="/signup" method="post">
    <label>Username: </label>
    <input type="text" name="username" id="Username" required>
    <br>
    <label>Email: </label>
    <input type="email" name="email" id="Email" required>
    <br>
    <label>Password: </label>
    <input type="password" name="password" id="Password" required>
    <br>
    <input type="submit" value="Sign Up">
</form>