<h1> Create an Accont </h1>

<form method="POST" action="/signup">

   <h2>Username: </h2><input type="text" name="username" placeholder="Username"><br>
   <h2>Email:</h2><input type="text" name="email" placeholder="Email"><br>
   <h2>Password:</h2><input type="text" name="password" placeholder="Password"><br>

   <input type="submit" value="Sign Up">

</form>
