<h3>Create User Account</h3>

<form action="/signup" method="POST">
<label>User Name:</label><br>
<input type="text" name="username" placeholder="username" required><br><br>
<label>E-mail:</label><br>
<input type="email" name="email" placeholder="e-mail" required><br><br>
<label>Password:</label><br>
<input type="password" name="password" required>
<br><br>
<input type="submit" value="Sign Up">


</form>