<form method="post" action="/signup">
<h2>Create an account:</h2>
<label for="username">Username:</label>
<input type="text" id="username" name="username">
<label for="email">Email:</label>
<input type="text" id="email" name="email">
<label for="password">Password:</label>
<input type="text" id="password" name="password">
<input type="submit" value="Signup">
</form>