<form action="/signup" method="POST">
    <input type="text" name="username" id="username">Username<br>
    <input type="text" name="email" id="email">Email<br>
    <input type="text" name="password" id="password">Password<br>
    <input type="submit" value="Create User">

</form>