<form method="post" action="/signup">
<label for="username">username:</label>
<input type="text" id="username" name="username"><br>

<label for="email">email:</label>
<input type="text" id="email" name="email"><br>

<label for="password">password:</label>
<input type="text" id="password" name="password"><br>

<input type="submit">
</form>