<h1>Sign Up Below:</h1>
<form method='POST' action="/signup">
  <label for="username">Username: </label>
  <input type="text" id="username" name="username" placeholder="e.g. Harry Potter"><br>
  <label for="name">Email: </label>
  <input type="text" id="email" name="email" placeholder="e.g. harry@wizard.com"><br>
  <label for="name">Password: </label>
  <input type="text" id="password" name="password" placeholder="e.g. Iluvron"><br>
  <button type="submit">Sign Up</button>
</form>
