<h1>SingUp:</h1>

<form action="/signup" method="post">
  <p>Username:</p><input type="text" name="username" id="user_name">
  <p>E-mail:</p><input type="text" name="email" id="email">
  <p>Password:</p><input type="text" name="password" id="password">

  <p><input type="submit" value="SignUp"></p>
</form>