<h1>Create a Fwitter Account!</h1>
<p>Enter your information below:</p>

<form action="/signup" method="post">
  <p>
    <label for="username">Username</label>
    <input type="text" name="username">
  </p>
  <p>
    <label for="email">Email</label>
    <input type="text" name="email">
  </p>
  <p>
    <label for="password">Password</label>
    <input type="text" name="password">
  </p>
  <input type="submit" name="Submit">
</form>
