<h1>Fwitter Signup</h1>

<form action="/users" method="POST">
<p><label for="user[username]">User name:</label>
  <input type="text" name="user[username]" id="user[username]" >
</p>
<p><label for="user[password]">Password:</label>
  <input type="text" name="user[password]" id="user[password]" >
</p>
<p><label for="user[email]">Email:</label>
  <input type="text" name="user[email]" id="user[email]" >
</p>
<p><input type="submit" value="Create"></p>
</form>