<nav>
<a href="/logout"><button>Logout</button></a>
<a href="/tweets"><button>All Fweets</button></a>
<a href="/tweets/new"><button>New Fweet</button></a>
</nav>
<h2>Welcome <%= @user.username %> </h2>
<br>

  <% @user.tweets.each do |tweet|%>
    <table style="width:100%">
      <tr> <td> <%= @user.username %> </td></tr>
      <tr> <td> <a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a></td></tr>
    </table>
  <% end %>
