<h1>Log In Below:</h1>

<form action="/login" method="post">
  <h2>Username:</h2><input type="text" name="username" id="username" placeholder="Username"><br>
  <h2>Email</h2><input type="text" name="email" id="email" placeholder="Email"><br>
  <h2>Password:</h2><input type="text" name="password" id="password" placeholder="Password"><br>

  <input type="submit" id="submit" value="Log In">
</form>