<h1>Log In Below:</h1>

  <form action="/login" method="POST">

    <label>Username: <input type="text" name="username"></label><br>
    <br>
    <label>Password: <input type="text" name="password"></label><br>

    <br>

    <input type="submit" value="submit">
  </form>
