<h1>Login</h1>
<form action="/login" method="POST">

  <br>

  <p>Name:<input type="text" name="username" id="Name"></p>
  <p>Password: <input type="password" name="password" id="Password"></p>

  

  <button type="submit" id="submit">Submit</button>
</form>