<h2>Please Log in to View Create and Edit Tweets</h2>

<form method="post" action="/login">
    <input type="text" name="username" placeholder="Username:">
    <input type="password" name="password" placeholder="Password:">

    <input type="button" value="submit">
</form>
