<h1>LogIn</h1>

<form action="/login" method="post">
  <p>Username:</p><input type="text" name="username" id="username">
  <p>Password:</p><input type="text" name="password" id="password">

  <p><input type="submit" value="submit"></p>
</form>