<!doctype html>
  <head>
    <h3>Welome! Please Log In below</h3><br>

    <form action="/login" method="POST">

      Username<input type="text" name="username" id="username">
      Password<input type="password" name="password" id="password">

      <input type="submit" value="submit">
    </form>

  </head>
</html>
