<h2>Login to Fwitter</h2>

<form action="/login" method="post">
  <label for="user[username]">Username: </label>
  <input type="text" name="user[username]"><br>
  <label for="user[password]">Password: </label>
  <input type="text" name="user[password]"><br>
  <input type="submit" value="Log In">
</form>
