<form action="/login" method="post">
  Username: <input type="text" name="username"><br>
  Password: <input type="password" name="password"><br>
  <input type="submit" value="Login" id="submit">
</form>

<p><a href="/signup">Sign Up</a></p>
