<h3>Log In</h3>

<form action="/login" method="post">
  <label for="username">Username:</label>
  <input type="username" id="username" name="username" required>
  <br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>
  <br>
  <input type="submit" value="Log In" id="submit">
</form>
