<form action="/login" method=POST>
  Username: <input type="test" name="username"><br>
  <br>
  Password: <input type="password" name="password"><br>
  <br>
  <input type= "submit" value="Login">
</form>
