<form method="post" action="/login">
    
    <label name="username">User Name: </label>
    <input type="text" name="username" id="username">

    <label name="email">Email: </label>
    <input type="email" name="email" id="email">

    <label name="password">Password: </label>
    <input type="password" name="password" id="password">

    <input type="submit" name="submit">
</form>