<h1>Welcome to Fwitter!</h1>
<h3>Login Page</h3>

<form action="/login" method="post">
  <label>Enter Username: </label>
  <input type="text" name="username"><br>
  <label>Enter Password: </label>
  <input type="password" name="password"><br>
  <br>
  <input type="submit" value="submit">
</form>
