<h1>Sign In</h1>

<form action="login" method="post">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Log In" id="submit">
</form>
