<form action = "/login" method = "POST">
<label>Log In</label>
<br>Username:<input type="text" name ="username" id="username">
<br>Password:<input type="password" name="password" id = "password" require>
<input type = "submit" name = "submit" value = "Log In">
</form>
