
  <h1> You Must Be Logged in to View Tweets </h1>
  
  <form action="/login" method="POST">
  <label for="Username">Username:</label>
  <br>
  <input type="text" id="username" name="username">
  <br>
  <label for="Password">Password:</label>
  <br>
  <input type="text" id="password" name="password">
  <br>
  <input type="submit" id="submit" value="submit">
 
  </form>
  


  