<form action="/login" method="post">
  Username: <input type="text" name="username">
  <br>
  Password: <input type="password" name="password">
  <br>
  <input id="submit" type="submit" value="Login">
</form>