<h1>Login</h1>

<form action="/login" method="POST">
   <label>Email:</label>
      <input type="text" name="email" placeholder="Email:">
      <br>
      <br>
   <label>Username:</label>
      <input type="text" name="username" placeholder="Username:">
      <br>
      <br>
   <label>Password:</label>
      <input type="password" name="password" placeholder="Password:">
      <br>
      <br>
   <input id="submit" type="submit" value="Login">
</form>