<h1>Log In to Access You Fwitter!</h1>
<form action= '/login' method= 'POST'>
    <h3>Enter Username: <input type= "text" name= "username" id= "username"></h3>
    <h3>Enter Password: <input type= "text" name= "password" id= "password"></h3>
    <h4><input type= "submit" name= "Log In" id= "submit"></h3>
</form>