<h1>Login to your account</h1> 
Insert Form with Username and Password

<form method="POST" action="/login">
<label for="username"> Username </label>
<input type="text" id="username" name="username" placeholder="create a username"><br>
<label for="password"> Password </label> 
<input type="password" id="password" name="password"><br>
<input type="submit" name="submit">
</form>