<h1>Log-in</h1>
<form method="post" action="/login">
  <p><label for="username">Username: </label><input type="text" name="username" id="username"></p>
  <p><label for="password">Password: </label><input type="password" id="password" name="password"></p>
  <input type="submit" id="submit" value="Login">
</form>
