<h2>Please Log in to View Create and Edit Tweets</h2>

<form method="POST" action="/login">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">

    <input type="submit" value="submit">
</form>
