<h1>Please Sign In:</h1>

<form action="/login" method="post">
    Username: <input name="username" id="username">
    Password: <input name="password" id="password">
    
    <br><br>

    <input type="submit" id="submit" value="Submit">
</form>