<<<<<<< HEAD
<h1>Welcome to Fwitter</h1>
    <h3>Log In Please</h3>

    <form action="/login" method="post">
      <label for="username">Username</label>
      <input type="text" name="username" id="username">
      <label for="password">Password</label>
      <input type="text" name="password" id="password">
      <input type='submit' name='submit' id='submit' value='Log In'>
    </form>
=======
<h3>Login to Fwitter!</h3>
<form action="/login" method="POST">
	<input type="text" name="username" placeholder="Username:">
	<input type="password" name="password" placeholder="Password:">
	<input type="submit" value="Log In">
</form>
>>>>>>> 9db9c00ae07ce678f82be18f781240cb8a38a652
