<h1>Account Login</h1>


<form method="POST" action="/login">

  <label><strong>Username:</strong><input type = "text" name="username" id="username">

    <br>
  <label><strong>Password:</strong><input type="text" name="password" id="password">

    <br>

  <input type="submit" value="submit">
</form>
