<h2>Please Log In:</h2>
<form method="POST" action="/login">
    <p>Username: <input type="text" name="username"></p>
    <p>Password: <input type="text" name="password"></p>
    <input type="submit" value="submit">
    </form>