<h1>Login to Fwitter!</h1>
<form method="post" action="/login">
  <p>Username:<input type="text" name="username" id="Username"></p>
  <p>Password:<input type="text" name="password" id="Password"></p>

  <input type="submit" value="submit">
</form>
