<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><b>Login</b></h1>

    <form action="/login" method="POST">
      <label>Username:</label>
      <input type="text" name="username"><br>
      <label>Password:</label>
      <input type="password" name="password"><br>
      <!-- <input id="submit" type="submit" value="submit"> -->
      <button id="submit" type="button" name="submit" value="submit">Login</button>
    </form>
    <br><br>
    <p>Don't have an account?</p>
    <a href="/signup">Signup</a>

  </body>
</html>
