<h1>Welcome to the login page!</h1>
<form action='/login' method='POST'>
    <label>Username: </label><input type='text' name='username' id='username'>
    <label>Password: </label><input type='text' name='password' id='password'>
    <input type='submit' id='submit' value='Submit'>
</form>