<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <style>
      div.login {
        text-align: center;
        }
      input.submit {
        border-radius: 4x;
        transition-duration: 0.4s;
      }
      input.submit:hover {
        background-color: #1DA1F2;
        color: white;
      }
    </style>
  </head>
  <body>

    <div class="login">
      <h4>Login to Fwitter</h4>
      <form method="post" action="/login">
        <label>Username:</label>
        <input type="text" name="username" placeholder="Username">
        <label>Password:</label>
        <input type="text" name="password" placeholder="Password">
        <input class="submit" type="submit" value="submit">
      </form>

  </body>
</html>
