<h2>Login to Fwitter</h2>

<form action="/login" method="POST">
    <h3>User Name:<input type="text" name="username" placeholder="User Name"></h3>
    <h3>Password<input type="password" name="password" placeholder="Password"></h3>
    <input type="submit" value="submit">
</form>