<label>Login</label>

<form action="/login" method="POST">

    Username:<input type="text" name="username">

    Email:<input type="text" name="email">

    Password:<input type="text" name="password">

<input type="submit" value="submit">


</form>