<html>
<head>Login</head>
<body>
<h1>Log into Fwitter</h1>

<form method="POST" action="/login">
<label for="username">Enter Username</label>
<input type="text" id="username" name="user[username]"></input>
<br>
<label  for="user_password">Password:</label>
<input type="password" id="user_password" name="user[password]"></input>
<br>
<input type="submit" value="Log-in">
</form>
</body>
</html>