<form action="/login" method="post">

  <h2>Enter your info to Login!</h2>

  <label for="username">Username</label>
    <input type="text" name="user[name]" id="username">
  <br />

  <label for="password">Password</label>
    <input type="text" name="user[password_digest]" id="password">
  <br />


  <input type="submit" name="login" >
</form>
