<h1>Login to Fwitter</h1>

<form action="/login" method="post">
  <p>
    <label for="username">Username</label>
    <input type="text" name="username">
  </p>
  <p>
    <label for="password">Password</label>
    <input type="password" name="password">
  </p>
  <input type="submit" id="submit">
</form>

<p>Don't have an account? Sign up below:</p>
<a href="/signup">Signup</a>
