<form action="/login" method="POST">
   <label for="email">Enter Email:</label>
   <input id="email" type="text" name="user[email]">
   <br>
   <label for="username">EnterUser Name:</label>
   <input id="username" type="text" name="user[username]">
   <br>
   <label for="password">Enter Password:</label>
   <input id="password" type="password" name="user[password]">
   <br>
   <input type="submit" value="Login">
</form>