<form action="/login" method="POST">
   <label for="email">Enter Email:</label>
   <input id="email" type="text" name="email">
   <br>
   <label for="username">Enter User Name:</label>
   <input id="username" type="text" name="username">
   <br>
   <label for="password">Enter Password:</label>
   <input id="password" type="password" name="password">
   <br>
   <input type="submit" value="submit">
</form>