<h1>Login</h1>

<form method="POST" action="/login">
    <input type="text" name="username" id="username" placeholder="username" required><br>
    <input type="password" name="password" placeholder="password" required><br>
    <input type="submit" value="Login">
</form>