<h1>Login!</h1>
<form method="post" action="/users/login">
  <input type="text" name="username" placeholder="Username:"><br>
  <input type="password" name="password" placeholder="Password"><br>

  <input type="submit">
</form>
<br><br>
No account yet?  <a href = "/users/signup"> Sign up. </a>
