<h2>Login To Your Account</h2>

<form method="POST" action="/signup">
Username:<li><input type="text" name="username"></li>
Password:<li><input type="password" name="password"></li>
Email:<li><input type="email" name="email"></li>
<input type="submit" name="submit">
</form>


 <%# <a href="/logout">Click here to Log Out</a> %>
  