<form action="/login" method="post">

    <input id="username" type="text" name="username">
    <input id="password" type="password" name="password">
    <input id="submit" type="submit" value="Log In">



</form>