<h1>Log In</h1>

<form action="/login" method="post">
    <label>Username: </label>
    <input type="text" name="username" id="Username" required>
    <br>
    <label>Password: </label>
    <input type="password" name="password" id="Password" required>
    <br>
    <input type="submit" value="Log In" id="submit">
</form>
