<h3>Please Log in</h3>
<form action="/login" method="post">
  <label for="username">Enter Your Username: </label>
  <input type="text" id="username" name="username" placeholder="Username">
  <br>

  <label for="password">Enter Your Password: </label>
  <input type="password" name="password">

  <input type="submit" id="submit" value="Login">
</form>
