<h1>Login</h1>
<form method="POST" action='/login'>
  <input type='text' name='username' id='username' placeholder="Username:">
  <input type='password' name='password' id='passoword' placeholder="Password:">
  <input type='submit' name='submit' id='submit'>
</form>
