<form method="post" action="/login">
<label>Username:<input type="text" name="username"></label>
<label>Password:<input type="text" name="password"></label>
<input id="submit" type="submit" value="Log In">
</form>