<h3>Log in to your Account to continue</h3>

<form action="/login" method="post">
<label for="username">Username:</label>
<input type="text" name="username" id="username" required/><br>
<label for="password">Password:</label>
<input type="text" name="password" id="password" require /><br>
<button type="submit">Submit</button>
</form>
