<h2>Log in</h2>
<form action="/login" method="post" class="form">
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="User name" value="" />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password" />
    </div>
    <button type="submit" id="submit">Log in</button>
</form>