<h1>Login to Fwitter</h1>
<form method="POST" action="/login">
  <input type="text" name="username" placeholder="Username:"><br>
  <input type="text" name="password" placeholder="Password:"><br>

  <input class="button" type="submit" value="submit">
</form>