<h1>Please login</h1>

<form method="post" action="/login">
    <label for="username">Username: <input type="text" id="username" name="username"></label><br>
    <label for="password">Password: <input type="password" id="password" name="password"></label><br>
    <input type="submit" id="submit" value="Login">
</form>