<h2>Log In</h2>
  <form action="/login" method="POST">
    <label>Username:</label>
    <input type="text" name="username" required="true">
    <br>
    <label>Password:</label>
    <input type="password" name="password" required="true">
    <input type="submit" name="submit" id="submit" value="Submit">
  </form>