<<<<<<< HEAD
<form action="/logout" method="post">
  Logout?
  <input type="submit" name="logout" >
  
</form>
=======
<form action="logout" method="post">
</form>
>>>>>>> 6265492469202805c30fcd2243607474289ef005
