<h1>New User:</h1>
<form method="POST" action="/signup">
  <p><label for="username">Username:</label>
  <input type="text" name="user[username]" id="username"></p>

  <p><label for="email">Email Address:</label>
  <input type="email" name="user[email]" id="email" /></p>

  <p><label for="password">Password:</label>
  <input type="password" name="user[password]" id="password" /></p>

  <input type="submit" id="submit" name="submit" />
</form>
