<h2>Sign Up for a New Account:</h2>

<form method="POST" action="/signup">
<p>Username: <input type="text" name="username"></p>
<p>Email: <input type="text" name="email"></p>
<p>Password: <input type="text" name="password"></p>
<input type="submit" value="signup">
</form>