
<h1><%=@user.username%></h1>
<ul id="tweet-list", style= "list-style: none">
<%@user.tweets.each do |t|%>
    <li>
    <div class="tweet-container">
    <a href="/users/<%=t.user.slug%>"><%=t.user.username%></a>
    <p name="tweet" id="tweet-content"><%=t.content%></p>
    <!--put in an edit and delete button-->
    </div>
    </li>
<%end%>
</ul>

<a href="/tweets/new"><input type="button" value="New Tweet"></a>
<form action="/logout" method="get">
<input type="submit" name="logout" value="Logout">
</form>