<p>Hi! <%= @user.username %></p>

<% @user.tweets.each do |tweet| %>
  <p><%= tweet.content %></p>
<% end %>

<br><br>

<a class="home-button" href="/">Home</a>
<a href="/tweets">Tweets</a>
<a class="logout-button" href="/">Logout</a>