<h3>Tweets for <% @user.username%></h3>

<% @user.tweets.each do |tweet| %>
<div class="container">
  <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">
  <p><% tweet.content %></p>
  <span class="time-right">11:00</span>
</div>
<% end %>
