<% @user.tweets.each do |tweet| %>
<h5>-------------------------------------------------------------------</h5>
  <%=tweet.content%>
<h5>-------------------------------------------------------------------</h5>
<% end %>
