<!DOCTYPE html>
<html>
  <head> 
    <title> Fwitter Show Page </title>
  </head>
  <body>
      <h1>Hey, Fwitters! Log In Here!</h1>
      
      <%@tweets.each do |tweet|%>
        <%=tweet.content%>
      <%end%>
      
  </body>
</html>