<h2><%= @user.username %></h2>

<h3>Tweets</h3>
<ul>
	<% @user.tweets.each do |tweet| %>
		<li class="tweets" onclick="location.href='/tweets/<%= tweet.id %>'"><%= tweet.content %></li>
		<br>
	<% end %>
</ul>
