<h2><%= @user.username %></h2>

<% @user.tweets.each do |tweet| %>
  <p><%= tweet.content %></p>
<% end %>

<a href="/tweets/new">New Tweet</a><br>
<a href="/tweets">View Feed</a>

<br><br>
<a href="/logout">Log Out</a>
