<h1>Hi, <%=@user.username%> Here are your Tweets</h1>
<<<<<<< HEAD
<ul>
    <% @user.tweets.each do |tweet| %>
        <li><%= tweet.content %></li>
    <% end %>
</ul>
=======

<ul> 
    <% @user.tweets.each do |tweet| %>
        <li><%= tweet.content %></li>
    <% end %>

</ul>
>>>>>>> 6265492469202805c30fcd2243607474289ef005
