<h1><%= @user.username.capitalize %>'s Tweets</h1>
<br>
<a href="/tweets/new"> Create Tweet </a>
<a href="/tweets">All Tweets<a>
<br>
<br>
<% @user.tweets.each do |tweet| %>
  <div>
    <%= tweet.content %>
  </div>
<% end %>
