<h1>Sign Up</h1>

<form method="POST" action="/signup">
  <p>email: <input type="text" name="email"></p>
  <p>username: <input type="text" name="username"></p>
  <p>password: <input type="password" name="password"></p>
  </p><input type="submit" value="Sign Up">
</form>