<!doctype html>
  <head>

    <br>
    <h4>If you are new, please sign up below</h4><br>

    <form action="/signup" method="POST">
        Username
        <br>
        <input type="text" name="username"><br>
        Email
        <br>
        <input type="text" name="email"><br>
        Password
        <br>
        <input type="password" name="password"><br>
        <br>
        <input type="submit" value="Signup"><br>
    </form>

  </head>
</html>
