<h1>Signup</h1>

<% unless locals.empty? %>
  <%= message %>
<% end %>

<form method="POST" action="/signup">
    <input type="text" name="username" placeholder="username" required><br>
    <input type="email" name="email" placeholder="email" required><br>
    <input type="password" name="password" placeholder="password" required><br>
    <input type="submit" value="Sign Up">
</form>