<h1>Signup as a New User</h1>

<form class="" action="/signup" method="post">
  <!-- username required -->
  <label for="username">Username</label>
  <input type="text" name="username"><br><br>

  <!-- email required -->
  <label for="email">Email</label>
  <input type="text" name="email"><br><br>

  <!-- password required -->
  <label for="password">Password</label>
  <input type="text" name="password" value=""><br><br>

  <!-- submit button -->
  <input type="submit" value="Create New User">

</form>
