<h2>Sign Up</h2>

<form method="POST" action="/signup">
  
<p><label for="username">Username:</label><input type="text" name="username"></p>
<p><label for="email">Email:</label><input type="text" name="email"></p>
<p><label for="password">Password:</label><input type="text" name="password"></p>
<p><input type="submit" value="Submit"></p>

</form>