<h2>Signup for a Fwitter Account</h2>

<p>Create Form for Signing Up</p>

<form action="/signup" method="POST">
  <label for="username">Username: </label>
    <input type="text" id="username" name="user[username]" required>
  <label for="email">Email: </label>
    <input type="text" id="email" name="user[email]" required>
  <label for="password">Password: </label>
    <input type="password" id="password" name="user[password]" required>
  <input type="submit" id="submit" value="Sign Up">
</form>