<h1>Create an Account</h1>
<form method="post" action="/signup">
  <label>Username</label>
    <input type="text" id="username" name= "username" ><br>
  <label>Email</label>
    <input type="text" id="email" name= "email" ><br>
  <label>Password</label>
    <input type="password" id="password" name= "password" ><br>
  <input type="submit" value="Create Account">
</form>