<h3>Please Sign In!</h3>

<form action ="/signup" method="POST">
	<label name="username">Username: </label>
	<input type="text" name="username" placeholder="Username: ">

	<label name="username">Email: </label>
	<input type="text" name="email" placeholder="Email: ">

	<label name="username">Password: </label>
	<input type="text" name="password" placeholder="Password: ">

	<input type="submit" id="submit" value="Sign Up">

</form>

