<h3>Sign up</h3>
<br>
<form action="/signup" method="POST">
  <input type="email" name="email" placeholder="Email" required>
  <input type="text" name="username" placeholder="Username:" required>
  <input type="password" name="password" placeholder="Password:" required>
  <input type="submit" value="Sign up" class="btn btn-success"><br><br>
</form>

<p>Already registered? <a href="/login">Log in</a></p>