<h3>Sign Up<h3>
<form method="POST" action="/signup">
<label>Username: </label>
<input type="text" id="username" name="username">
<br>
<br>
<label>Email: </label>
<input type="text" id="email" name="email">
<br>
<br>
<label>Password: </label>
<input type="password" id="password" name="password">
<br>
<br>
<input type="submit" value="submit">
</form>

