<h1>Sign Up</h1>

<div class="container">
  <form method="POST" action="/signup">
    <lable>Username</label>
    <input type="text" name="username" id="username">
    <br /> <br />
    <lable>Email</label>
    <input type="text" name="email" id="email">
    <br /> <br />
    <lable>Password</label>
    <input type="password" name="password" id="password">
    <br /> <br />
    <input type="submit" name="submit" value="Submit" style="width:100px">
  </form>
</div>