<h1>Sign Up</h1>

<form class ="" action="/signup" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" value="">
  <label for="email">Email:</label>
  <input type="text" name="email" value="">
  <label for="password">Password:</label>
  <input type="password" name="password" value="">
  <input type="submit" value="Sign Up">
</form>