<h1>Welcome</h1>

<h3>Sign Up Below</h3>

<form action="/signup" method="POST">
  <label>Username: </label><input type="text" name="username"></p>
  <br><br>
  <label>Email: </label><input type="text" name="email"></p>
  <br><br>
  <label>Password: </label><input type="text" name="password"></p>
  <br><br>
  <input type="submit" value="signup">
</form>