<h1>Welcome to Fwitter!</h1>
<h3>Signup Page</h3>

<form action="/signup" method="post">
  <label>Create Username: </label>
  <input type="text" name="username"><br>
  <label>Enter Email: </label>
  <input type="email" name="email"><br>
  <label>Create Password: </label>
  <input type="password" name="password"><br>
  <br>
  <input type="submit" value="Signup">
</form>
