<!doctype html>
  <head>
    <h3>Welcome! Please signup if you are new here</h3><br>
    <form action="/signup" method="POST">

    <body>
      Username<input type="text" name="username" id="username"><br>
      Email<input type="text" name="email" id="email"><br>
      Password<input type="password" name="password" id="password"><br>
    </body>

      <input type="submit" value="Sign Up">
    </form>
  </head>
</html>
