
<form action="/signup" method="POST">
<label>Username</label><input type="text" id="username" name="username"/>
<label>Email</label><input type="string" id="email" name="email"/>
<label>Password</label><input type="password" id="password" name="password"/>

<input type="submit" value="Signup">
</form>
