<h3>Fwitter Sign Up</h3>
<form action="/signup" method="POST">
  <label for="user_name">User Name</label>
  <input type="text" name="username" id="user_name" placeholder="Username:">
  <label for="email">Email:</label>
  <input type="email" name="email" id="email" placeholder="youremail@example.com">
  <label for="password">Password:</label>
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Sign Up">
</form>


<form> 
  <label for="favorite-animal">Favorite Animal</label>
  <br> 
  <input name="favorite-animal" id="favorite-animal"> 
</form>

Read more: https://html.com/tags/label/#ixzz624hhgzPO