<form action="/signup" method="POST">
    <label>Username</label>
    <input type="text" name="username"><br>

    <label>Email</label>
    <input type="text" name="email"><br>

    <label>Password</label>
    <input type="text" name="password"><br>
    
    <button type="submit">submit</button>
</form>