<h1>Sign up below</h1>
<form  action="/signup" method="post">
  <label for="username_field">Username: </label>
  <input type="text" name="username" id="username_field"><br>

  <label for="email_field">Email: </label>
  <input type="text" name="email" id="email_field"><br>

  <label for="password_field">Password: </label>
  <input type="text" name="password" id="password_field"><br>

  <input type="submit" value="Signup">
</form>
