<h2>Fwitter Sign Up</h2>

<form action="/signup" method="post">
    <h2>Name: <input type="text" name="username" id="username"></h2>
    <h2>Email: <input type="text" name="email" id="email"></h2>
    <h2>Password: <input type="password" name="password" id="password"></h2>

    <input type="submit" value="Sign Up">
</form>