
<form method="post" action="/signup">
  
  <label>Username</label>
  <input type="text" name="username">
  
  <label>Password</label>
  <input type="password" name="password">
  
  <label>Email</label>
  <input type="text" name="email">
  
  <input type="submit" value="Sign Up">
</form>

