<h2>Sign up for Fwitter</h2>

<form action="/signup" method="post">
  <label for="user[name]">Username: </label>
  <input type="text" id="username" name="user[username]"><br>
  <label for="user[email]">Email: </label>
  <input type="text" id="user_email" name="user[email]"><br>
  <label for="user[password]">Password: </label>
  <input type="text" id="user_password" name="user[password]"><br><br>
  <input type="submit" value="Sign Up">
</form>
