

    <form action="/signup" method="POST">
        <label>username: </label>
            <input type="text" name="username"/>
        <label>email: </label>
            <input type="text" name="email"/>
        <label>password: </label>
            <input type="text" name="password"/>

            <input type="submit" />
    </form>

