<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <p> Username: <input type="text" name="username" placeholder="username"></p>
  <p> Email: <input type="email" name="email" placeholder="email"></p>
  <p> Password:<input type="password" name="password" placeholder="password"></p>
  <input type="submit" value="Sign Up">
</form>