<h3>Please Sign Up for an Account Below</h3>
<form action="/signup" method="post">
  <label for="username">Create a Username: </label>
  <input type="text" id="username" name="username" placeholder="Username">
  <br>

  <label for="email">Enter Email Address:</label>
  <input type="email" name="email" placeholder="Someone@email.com">
  <br>

  <label for="password">Create a Password: </label>
  <input type="password" name="password">

  <input type="submit" value="Create Account">
</form>
