<h1>Sign up</h1>
<form method="POST" action='/signup'>
  <input type='text' name='username' id='username' placeholder="Username:">
  <input type='text' name='email' id='email' placeholder="Email:">
  <input type='password' name='password' id='passoword' placeholder="Password:">
  <input type='submit' name='signup' id='signup'>
</form>
