<% if Helpers.is_logged_in?(session) %>
    <% redirect '/tweets'%>
<% else%>
<form action="/signup" method="post">
    Username: <input type="text" name="username">
    Email: <input type="email" name="email">
    Password: <input type="password" name="password">
    <input type="submit" value="Sign Up">
</form>
<%end%>

<a href="/tweets">Tweets</a>