<h1>Sign Up</h1>
<form action="/signup" method="POST">
  <input type="text" name="username" required>
  <input type="text" name="email" required>
  <input type="password" name="password" required>
  <input type="submit">
</form>