<% unless locals.empty? %>
  <%= message %>
<% end %>
<h1>Sign Up!</h1>
<form method="POST" action="/signup">
  <label>Username:</label>
  <input type="text" name="username" required>
  <label>Email:</label>
  <input type ="text" name="email" required>
  <label>Password:</label>
  <input type ="password" name="password" required>
  <input type="submit" value="Sign Up">
</form>
