<h3>Sign Up</h3><br><br>
<p>Create a Username and Password</p>
<form action="/create_user" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Sign Up">
</form>
