<h2>Sign Up For a New Account!</h2>
<form action="/signup" method="POST">
  <label for="username">Username: </label>
  <input id="username" type="text" name="user[name]" placeholder="username:"><br>

  <label for="password">Password: </label>
  <input id="password" type="text" name="user[password]" placeholder="password:"><br>

  <label for="email">Email: </label>
  <input id="email" type="text" name="user[email]" placeholder="email:"><br>

  <input type="submit" value="create an account">

</form>
