<h1>Sign up!</h1>

<form action="/signup" method="POST">
  <label for="username">
    <input id="username" type="text" name="username" placeholder="User Name Goes Here">
  </label>
  <label for="email">
    <input id="email" type="text" name="email" placeholder="email Name Goes Here">
  </label>
  <label for="password">
    <input id="password" type="password" name="password" placeholder="Password Goes Here">
  </label>
  <input type="submit" name="signup" value="Sign Up">
</form>
