<form method="post" action="/tweets/<%= @tweet[:id] %>">
  <p>Dude, are you sure you wanna delete this awesome tweet? >> <%= @tweet.content %></p>
  <input type="hidden" name="_method" value="delete" />
  <h3>Delete Tweet</h3>
  <input type="submit" id="Delete Tweet" value="Delete Tweet" />
</form>
