<form method="post" action="/tweets/<%= @tweet[:id] %>">

  <input type="hidden" name="_method" value="patch" />
  <h3>Edit Tweet</h3>

  <label for="edit_tweet">Content:</label>
  <textarea rows="10" columns="50" name="content" id="content"><%= @tweet.content %></textarea>
  <input type="submit" value="submit" />

</form>

<p><a href="/tweets">Return to Tweets</a></p>

<p><a href="/logout">Log Out</a></p>
