<h1>Welcome to Fwitter!</h1>

<h3><a class="button" href='/signup'>Sign Up</a></h3><br>
<h3><a class="button" href='/login'>Log In</a></h3><br>
<h3><a class="button" href="/logout">Log Out</a></h3><br>
