<<<<<<< HEAD


<h1> Fwitter Home Page </h1>

<a class="button" href="/users/signup">Sign Up</a>
<a class="button" href="/users/login">Log In</a>
=======
<h1>Welcome to Fwitter</h1>

<p><a class="button" href="/users/login">Log In</a></p>
<br>
<p>Or</p>
<br>
<p><a class="button" href="/users/signup">Sign Up </a></p> 
>>>>>>> 6265492469202805c30fcd2243607474289ef005
