<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="button">
      <button type="button"><a href="/signup">Sign Up</a></button>
    </div>
    <br>
    <div>
      <button type="button"><a href="/login">Log In</a></button>
    </div>


  </body>
</html>
