Index page

<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="button">
      <a href="/signup">Sign Up</a>
    </div>

    <div>
      <a href="/login">Log In</a>
    </div>


  </body>
</html>
