<section
  style="width: 40vw; margin: 50px auto; padding: 10px; border-radius: 10px; box-shadow: 3px 3px 20px rgba(0,0,0,0.2);"
  class="animated fadeInUp"
>
  <h3>
    Sign up or Login below
  </h3>
  <div style="margin: 0 auto; width: 80%">
    <a
      class="button"
      href="/signup"
      style="padding: 15px 20px; margin-top: 25px; max-width: 100%; border-radius: 10px; border: none; background-color: rgba(29,161,242,0.75); color: white; font-size: 1.1em; font-weight: 700; text-align: center; text-decoration: none;"
    >
      SIGN UP
    </a>
    <a
      class="button"
      href="/login"
      style="padding: 15px 20px; margin: 25px 0; max-width: 100%; border-radius: 10px; border: 1px solid rgba(29,161,242,0.75) ; color: rgba(29,161,242,0.75); font-size: 1.1em; font-weight: 700; text-align: center; text-decoration: none;"
    >
      Log In
    </a>
  </div>
</section>
