<h1> Welcome to Fwitter </h1><br>

<h2> <a href="/login">Login to your account</a></h2><br>

<<<<<<< HEAD
<h2><a href="/signup">Sign Up for an account</a></h2>
=======
<h2>Please sign up or log in to access your account</h2>


<p> <a href="/signup">Sign Up</a></p><br>
<p> <a href="/login">Log In</a></p>
>>>>>>> 8edcf1ba90cd1a16bf846da831c51203b933209d
