

<h1> Welcome to Fwitter </h1>

Log In 
<form action="/login" method="POST">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username">

  <label for="password">Password:</label>
  <input type="text" name="password" id="password">

  <input type="submit" value="Login">
</form>
<br>
<a href="/signup">Or click here to signup</a>
