<!doctype html>
<html>
  <head>
    <title>Welcome to Fwitter</title>
    <style>
      button.welcome_button {
        border-radius: 4x;
        transition-duration: 0.4s;
      }
      button.welcome_button:hover {
        background-color: #1DA1F2;
        color: white;
      }
      hr.solid {
        border-top: 1px solid #bbb;
      }
      div.index_info {
        color: #1DA1F2;
        text-align: center;
      }
    </style>
  </head>
  <body>

    <div class="welcome">
    <h2>See what's happening at Flatiron School now</h2>

    <p>Join Fwitter today.</p>

    <a class="button" href="/login"><button class="welcome_button">Login</button></a>
    <a class="button" href="/signup"><button class="welcome_button">Signup</button></a>
    <br>
    </div>

    <hr class="solid">

    <div class="index_info">
      <p> Follow your interests. </p>
      <p> Hear what people are talking about. </p>
      <p> Join the conversation. </p>
    </div>

  </body>
</html>
