<h1>Welcome to The PUBG Game Tracker where you can manually add your stats for each game to track your progression!</h1>
<p>Please signin or signup :</p>

<nav>
  <% if logged_in? %>

    <a href="/games/new"> Add Game </a>
    <a href="/logout"> Log Out </a>
    <p>Welcome, <%=current_user.username %></p>

  <% else %>
    <a href="/signup">Sign Up</a>
    <a href="/login"> Sign In </a>
  <%end %>

</nav>