<h1>Welcome to Fwitter!</h1>

<p><a href="/signup">Sign Up</a></p>
<p><a href="/login">Log In</a></p>
<p><a href="/logout">Log Out</a></p>
<p><a href="/users/mjroose">View mjroose</a></p>
<p><a href="/tweets">View Tweets</a></p>