<div class="container-fluid">
    <section class="banner">
    <h2>Welcome to Fwitter!</h2>

     <a button id="loginbtn" type="button" class="btn btn-default" href="/login">Login</a>
     <a button id="signupbtn" type="button" class="btn btn-default" href="/signup">Sign Up</a>
     </section>
  </div>