<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fwitter</title>
  </head>
  <body>
    <h1>Welcome to Fwitter!</h1>
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
  </body>
</html>
