<<<<<<< HEAD
<h1>Welcome to Fwitter</h1>
=======
<h1>Welome to Fwitter!</h1>
>>>>>>> e5ccc3bc27a27f292f6cdff83150df1b7d5595a6

<h3>Menu</h3>
<ul>
  <li><a href="/signup">Sign Up</a></li>
  <li><a href="/login">Log In</a></li>

</ul>
