<div class="intro">
  <h1>Welcome to Fwitter!</h1>
  <h2>Make a Choice:</h2>
</div>

<div class="choice">
  <div class="row">
  <a href="/signup"><input type="submit" value="Sign Up"></a>
  <a href="/login"><input type="submit" value="Login"></a>
</div>
</div>
