<h1>Welcome to Fwitter!</h1>

<% if logged_in? %>
  <a href='/tweets/new'>Create Tweet</a>
  <a href='/logout'>Log Out</a>
<% else %>
  <a href="./signup">Sign Up</a>
  <a href="./login">Login</a>
<% end %>