Welcome to Fwitter

<% if logged_in %>

<h1>Welcome <%= user.username %></h1>
    <a href='/tweets/new'> Create a Tweet </a>
    <a href='/logout'> Log Out </a>


<% else %>
    <a href='/signup'>Sign Up</a>
    <br/>
    <a href='/sessions/login'>Login</a>
<% end %>
