
<!DOCTYPE html>
<html>
  <head> 
    <title> Fwitter Homepage </title>
  </head>
  <body>
    <h1>Hey, Fwitters!</h1>
    <p><a href="/signup"> Sign Up </a></p>
    <p><a href="/login">Log In</a></p>
  </body>
</html>