<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="./stylesheets/homepage.css">
    </head>
    <body>
        <div class="link-container">
            <div class="signup">
                <h3>If you have have not signed up, please create an account.</h3>
                <a class="button-link" href="/signup">Signup</a>
            </div>
            <div class="login">
                <h3>Otherwise login to your account</h3>
                <a class="button-link" href="/login">Login</a>
            </div>
            
        </div>
    </body>
</html>

