<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Fwitter!</h1>

      <p><a href="/signup">Sign up</a></p><br/>
      <p><a href="/login">Log in</a></p>
    </div>

  </body>
</html>