<!DOCTYPE html>
<html>
  <head>
    <title> Fwitter Homepage</title>
    <meta charset="UTF-8">
  </head>

  <body>
    <h1>Welcome to Fwitter</h1>
    <h3><a href="/login">Click Here</a> to login</h3>
    <h3><a href="/signup">Click Here</a> to sign-up and create your new Fwitter account</h3>
  </body>

</html>
