<h1>Welcome to Fwitter</h1>
<p>New user?</p>
<form action="/signup">
    <input type="submit" value="Signup" />
</form>
<p>Already have an account?</p>
<form action="/login">
    <input type="submit" value="Login" />
</form>