<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    
    <div class="container">
      <h2>Fwitter</h2>
    
<% if flash[:message] %>
          <h3><%= flash[:message] %></h3>
      <% end %>

      <%= yield %>
</div>
  </body>
</html>
