<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <a button type="button" href="/tweets">View All Tweets</a>
<a button type="button" href="/tweets/new">Create a New Tweet</a>
    <% if logged_in? %>
    <a button type="button" href="/logout">Logout</a>
    <% else %>
      <a button type="button" href="/login">Login</a>
      <a button type="button" href="/signup">Signup</a>
    <% end %>
  </nav>
      <%= yield %>
    </div>

  </body>
</html>
