<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <link rel="stylesheet" href="stylesheets/layout/header.css" type="text/css" >
    <link rel="stylesheet" href="stylesheets/layout/footer.css" type="text/css" >

  </head>
  <body>

  <%= erb :'partials/header' %>
  <%= yield %>
  <%= erb :'partials/footer' %>

  </body>
</html>
