<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <header>
    <% if logged_in? %>
      Logged in as <%=current_user.username%>  |
      <a href='/tweets'>home</a>  |
      <a href='/logout'>log out</a>
      <p>-------------------------------------------------------------------------</p>
    <% end %>
  </header>
  <body>

    <%= yield %>

  </body>
</html>
