<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Fwitter</title>
  </head>
  <body>
    <header>
      <navigation>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </navigation>
    </header>

      <div class="container">
        <h1>Welcome to Fwitter!</h1>
        <h2>This is located in layout.erb!</h2>
        <h2>Don't forget to <strong>yield</strong> your views!</h2>
      </div>
    <footer>
      <a href="#">Home</a>
      <a href="#">Login</a>
      <a href="#">Logout</a>
      <p>Fwitter 2019</p>
    </footer>
  </body>
</html>
