<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <div class="header">
      <% if logged_in? %>
        <a href="/logout">Logout</a>
      <% else %>
        <a href="/login">Login</a>  |  <a href="/signup">Sign Up</a>
      <% end %>
    </div>
    <!-- <div class="container">
      <h1>Welcome to Fwitter!</h1>
      <h2>This is located in layout.erb!</h2>
      <h2>Don't forget to <strong>yield</strong> your views!</h2>
    </div> -->
    <%= yield %>

  </body>
</html>
