<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Fwitter!</h1>

      <%= yield %>
      <br>
      <img src="https://media.giphy.com/media/efqBQ5OOnQehq/giphy.gif" alt="bird_working">
    </div>


  </body>
</html>
