<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <% if session[:flash] %>
      <p><%= session[:flash] %></p>
      <% session.delete(:flash) %>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
