<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Fwitter!</h1>
      <% yield %>
      <a href='/login'>Login</a><br>
      <a href='/logout'>Logout</a>
    </div>

  </body>
</html>
