<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <% if current_user %>
        <a href='/logout'>Logout</a>
      <% else %>
        <a href='/login'>Login</a><a href='/signup'>Signup</a>
      <% end %>
      <h1>Welcome to Fwitter!</h1>
      <%= yield %>
    </div>

  </body>
</html>
