<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <h1 style="margin: 0; margin-bottom: 10px;"><a href="/">Home</a></h1>
    <div class="container">
    <%= yield %>
    </div>

  </body>
</html>
