<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <h1>Welcome to Fwitter</h1>
    
      <%= yield %>
 <% if logged_in? %> 
<p>If you are done please <a href="/logout">Log out</a></p>
<% end %>
  </body>
</html>