<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
    <div class=wrapper>
    <header>
      <img src="/images/Logo.png" alt="This is supposed to be the logo...crap" title="logo">
    </header>

    <%= yield %>
    <footer>
      <p> Fwitter is not responsiple if you choose to qwitter </p>
    </footer>
  </div>
  </body>
</html>
