<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
   <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Fwitter!</h1>
 
      <% if Helpers.is_logged_in?(session) %>
        <p><%=Helpers.current_user(session).username %> is logged in</p>
      <% end %>
      <hr>
    </div>
      <%= yield %>
      <hr>
      <a href="/">Home</a>

  </body>
</html>
