<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <link rel="stylesheet" type="text/css" href="style.css">  
  </head>
  <body>
    <ul>
      <li><a href="/">Fwitter</a></li>
      <%if logged_in?%>
        <li><a href="/logout">Logout</a></li>
      <%else%>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
      <%end%>
    </ul>
    <%= yield %>
  </body>
</html>
