<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <nav>
      <ul>
        <% if logged_in? %>
          <p>Welcome, <%= current_user.username %></p>
            <li><a href="/tweets">Post a Tweet!</a></li>
            <li><a href="/users/logout">Logout</a></li>
        <% end %>
      </ul>
    </nav>
    <div class="container">

      <%= yield %>
  </body>
</html>
