<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Fwitter!</h1>
      <h2>This is located in layout.erb!</h2>
      <h2>Don't forget to <strong>yield</strong> your views!</h2>
    </div>
    <%=yield%>
    <br><br><br><br>
    <% if !!Helper.current_user(session) %>
      <form class="logout" action="/logout" method="get">
        <input type="submit" id="logout_button" value="Logout">
      </form>
    <%end%>
  </body>

</html>
