<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
  
    <div class="container">
      <h1>Welcome to Fwitter!</h1>
<<<<<<< HEAD
=======
      <h1>Welcome,</h1>
>>>>>>> 6265492469202805c30fcd2243607474289ef005
      <%= yield %>
    </div>

  </body>
</html>
