<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <style>
      div.container {
        color: #1DA1F2;
        text-align: center;
        }
      hr.solid {
        border-top: 1px solid #bbb;
      }
      body {
        font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
      }
    </style>
  </head>
  <body>

    <!-- <div class="container">
      <h1>Welcome to Fwitter!</h1>
      <h2>This is located in layout.erb!</h2>
      <h2>Don't forget to <strong>yield</strong> your views!</h2>
    </div> -->
<div class="container">
  <h3> Fwitter </h3>
  <hr class="solid">
</div>

<%= yield %>
  </body>
</html>
