<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <style>
    .container {
      width: 500px;
      clear: both;
    }

    .container input {
      width: 100%;
      clear: both;
    }
  </style>
  <body>

    <div class="container">
      <h1>Welcome to Fwitter!</h1>
    </div>

    <% if session[:user_id] %>
      Logged in as user ID <%=session[:user_id]%>.
    <% end %>

    <br />
    <br />

    <%= yield %>

  </body>
</html>
