<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">

<% if logged_in? %>
  <div class="nav">
    <a href="/logout"><button type="button">Log out</button></a>
    <a href="/tweets/new"><button type="button">New Tweet</button></a>
  </div>
<% else %>
  <div class="nav">
    <a href="/login"><button type="button">Log In</button></a>
    <a href="/signup"><button type="button">Sign-Up</button></a>
  </div>
<% end %>

      <%= yield %>

    </div>

  </body>
</html>
