<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <style>
      div.container {
        color: #1DA1F2;
        text-align: center;
        }
      hr.solid {
        border-top: 1px solid #bbb;
      }
      body {
        font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
      }
      img {
        height: 15%;
        width: 15%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img src="https://coursereport-s3-production.global.ssl.fastly.net/uploads/school/logo/8/original/flatironschool.png">
      <h3> Fwitter </h3>
      <hr class="solid">
    </div>

<%= yield %>
  </body>
</html>
