<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>

    <div class="container">
      <h1>Fwitter</h1>
      <%= yield %>
      <% if is_logged_in? %>
        <p><%= '<a href="/tweets">Timeline</a> · ' if request.path_info != '/tweets' %><a href="/logout">Log out</a></p>
      <% end %>
    </div>

  </body>
</html>
