<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <div class="container">
      <h1>Fwitter</h1>
        <% if logged_in? %>
          <p>Welcome, <%=current_user.username %>!</p>
          <table>
            <tr><a href="/tweets/new"> New Tweet </a> </tr>
            <tr><a href="/tweets"> All Tweets </a></tr>
            <tr><a href="/users/<%= current_user.slug %>"> Your Tweets </a></tr>
            <tr><a href="/logout"> Log Out </a><br></tr>
          </table>
        <%end %>
      <%= yield %>


    </div>
  </body>
</html>
