<!doctype html>
<html>
  <head>
  <link rel="stylesheet" href="../public/style.css">
    <title>Fwitter</title> 
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Fwitter!</h1>
       </div>
      <%=yield%>
   

  </body>
</html>
