<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <style>
      a {color:black;}
      a:visited {color:black;}
      a:hover {color:black;}
      a:active {color:black;}
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
