<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <%=yield%>
    </div>

    <footer>
      <p>Sign Up</p>
      <p>Login</p>
    </footer>

  </body>
</html>
