<form method="post" action="/login">

  <p>Username:</p>
  <input id="username" name="username" type="text" />

  <p>Password:</p>
  <input id="password" name="password" type="text" />

  <input type="submit" value="submit" />

</form>
