<form action="/login" method="post">
  <input type="text" name="username" id="username">
  <input type="password" name="password" id="password">
  <button type="submit" id="submit">Login</button>
</form>
