<h1>Login</h1>

<<<<<<< HEAD
<form method="post" action="/login">
=======
<form>
>>>>>>> 5c954833841b266655047ec7a3bd66a0ec27b614

  <h3><label for="username">Username:</label></h3>
  <input id="username" name="username" type="text" />

  <h3><label for="password">Password:</label></h3>
  <input id="password" name="password" type="text" />

<<<<<<< HEAD
  <input type="submit" id="submit" value="Log In" />

=======
>>>>>>> 5c954833841b266655047ec7a3bd66a0ec27b614
</form>
