<h1>Log In Below:</h1>
<form method='POST' action='/login'>
  <label for='username'>User Name:</label>
  <input type='text' id='Username' name='username'><br>
  <label for='Email'>Email:</label>
  <input type='text' id='Email' name='email'><br>
  <label for='Password'>Password</label>
  <input type='text' id='Password' name='password'><br>
  <input type="submit" id='submit' value="submit">
</form>
