<h1>New Tweet</h1>
<form action="/tweets" method="POST">
  <label>Content:</label>
  <input type="text" id="content" name="content">
  
  <button type="submit" id="submit">Submit</button>
</form>

<form action="/logout" method="GET">
  <button type="submit">Logout</button>
</form>