<h1>Sign Up</h1>
<br> 
<form method="post" action="/signup">

    <p>Username: <input type="text" name="username" id="username"></p>
    <p>Email: <input type="email" name="email" id="email"></p> 
    <p>Password: <input type="password" name="password" id="password"></p>

    <br>
    
    <input type="submit" id="submit" value="Create Profile">
</form>