<h1>sign up below:</h1>

<form action='/signup' method="POST">
  <label>username</label>
  <br/>
  <input type="text" name="username">
  <label>email</label>
  <br/>
  <input type="text" name="email">
  <br/>
  <label>password</label>
  <br/>
  <input type="password" name="password">
  <input type="submit" value="Sign Up">
</form>
