<h2>Sign Up Here!</h2>
<br>
<form action="/signup" method="POST">

<label>Username</label>
<input type="text" name="username" id="name" required>
<br>
<label>Email</label>
<input type="text" name="email" id="email" required>
<br>
<label>Password</label>
<input type="password" name="password" id="password" required>
<br>
  <input type="submit" id="Sign Up" value="Sign Up">

</form>
