<form action="/signup" method="post">
    <input id="username" type="text" name="username">
    <input id="email" type="email" name="email">
    <input id="password" type="password" name="password">
    <input type="submit" value="Sign UP">



</form>
