<section
  style="width: 40vw; margin: 50px auto; padding: 10px; border-radius: 10px; box-shadow: 3px 3px 20px rgba(0,0,0,0.2);"
  class="animated bounceInLeft">
  <h3>Create a free Fwitter account!</h3>

  <form action="/signup" method="POST" class="user-form">
    <label for="user_name">Username:</label>
    <input type="text" name="username" id="user_name" /><br />

    <label for="user_email">Email:</label>
    <input type="text" name="email" id="user_email" /><br />

    <label for="user_password">Password:</label>
    <input type="password" name="password" id="user_password" /><br />
    <button type="submit" id="submit" class="button form-btn">Submit</button>
  </form>
</section>
