<form action="/signup" method="POST">
  <label>Username:</label>
  <input type="text" id="username" name="username">
  
  <label>Email:</label>
  <input type="text" id="email" name="email">
  
  <label>password:</label>
  <input type="text" id="password" name="password">
  
  <button type="submit" id="create">Create</button>
</form>