<nav></nav>
<h2>Sign up for Fwitter!</h2>
<h3>or else!!</h3>

<form action="/signup" method="post">
  <h5>All fields are required</h5>
  <p>Username: <input type="text" name="username"/></p>
  <p>Email: <input type="text" name="email"/></p>
  <p>Email: <input type="text" name="password"/></p>
  <input type="submit" id="submit" value="Sign Up"/>
</form>
