
<form method="post" action="/signup">

  <h3><label for="username">Username:</label></h3>
  <input id="username" name="username" type="text" />

  <h3><label for="email">Email:</label></h3>
  <input id="email" name="email" type="text" />

  <h3><label for="password">Password:</label></h3>
  <input id="password" name="password" type="text" />


</form>
