<h1>Sign Up with a New Account!</h1>
<form action= '/signup' method= 'POST'>
    <h3>Enter Email: <input type= "text" name= "user[email]" id= "email"></h3>
    <h3>Enter Username: <input type= "text" name= "user[name]" id= "username"></h3>
    <h3>Enter Password: <input type= "text" name= "user[password]" id= "password"></h3>
    <h4><input type= "submit" name= "Sign Up"></h3>
</form>