<h3>Sign Up</h3>
<form action="/signup" method="POST">
	<input type="text" id="username" name="username" placeholder="Username:">
	<input type="password" id="password" name="password" placeholder="Password:">
	<input type="submit" id="submit" value="Sign Up">
</form>
