<label>Sign Up</label>

<form action="/signup" method="POST">

    Username:<input type="text" name="new_user[name]">

    Email:<input type="text" name="new_user[email]">

    Password:<input type="text" name="new_user[password]">

    <input type="submit" value="Sign Up">

</form>