<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
  <p>If you already have a Fwitter account <a href="/login">Log In</a> to continue.

    <div class="container"><h3>Signup</h3>
    
    <form action="/signup" method="POST">
      <input type="text" name="email" placeholder="Email Address">
      <input type="text" name="username" placeholder="Username:">
      <input type="password" name="password" placeholder="Password:">
      <input type="submit" value="Sign Up">
    </form>  

    </div>
  </body>
</html>
